<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <jhi-alert-error></jhi-alert-error>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div id="page-heading" class="form__section--title mb-2">
        <h2 id="jhi-commissioning-plan-heading" data-cy="CommissioningPlanCreateUpdateHeading">Nouvel utilisateur</h2>
      </div>

      <div class="row mx-0">
        <section class="form__section infos-section">
          <div *ngIf="user">
            <div class="row mx-0">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" formControlName="email" />

                  <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required"> This field is required. </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.maxlength">
                      This field cannot be longer than 100 characters.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.minlength">
                      This field is required to be at least 5 characters.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.email"> Your email is invalid. </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Rôles</label>
                  <select class="form-control" multiple name="roles" formControlName="roles">
                    <option *ngFor="let role of roles" [value]="role">{{ role.name }}</option>
                  </select>
                </div>
              </div>
            </div>

            <!--        <div class="mb-3" [hidden]="!user.id">-->
            <!--          <label>ID</label>-->
            <!--          <input type="text" class="form-control" name="id" formControlName="id" readonly />-->
            <!--        </div>-->

            <!--        <div class="mb-3">-->
            <!--          <label class="form-label">Login</label>-->
            <!--          <input type="text" class="form-control" name="login" formControlName="login" />-->

            <!--          <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">-->
            <!--            <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.required"> This field is required. </small>-->

            <!--            <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.maxlength">-->
            <!--              This field cannot be longer than 50 characters.-->
            <!--            </small>-->

            <!--            <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.pattern">-->
            <!--              This field can only contain letters, digits and e-mail addresses.-->
            <!--            </small>-->
            <!--          </div>-->
            <!--        </div>-->

            <!--        <div class="mb-3">-->
            <!--          <label class="form-label">First Name</label>-->
            <!--          <input type="text" class="form-control" name="firstName" formControlName="firstName" />-->

            <!--          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">-->
            <!--            <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.maxlength">-->
            <!--              This field cannot be longer than 50 characters.-->
            <!--            </small>-->
            <!--          </div>-->
            <!--        </div>-->

            <!--        <div class="mb-3">-->
            <!--          <label>Last Name</label>-->
            <!--          <input type="text" class="form-control" name="lastName" formControlName="lastName" />-->

            <!--          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">-->
            <!--            <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.maxlength">-->
            <!--              This field cannot be longer than 50 characters.-->
            <!--            </small>-->
            <!--          </div>-->
            <!--        </div>-->
          </div>
        </section>
      </div>

      <div class="my-3 p-0" *ngIf="user">
        <button type="button" class="btn btn--outline--secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn--primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Valider</span>
        </button>
      </div>
    </form>
  </div>
</div>
