<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div>
  <h2 id="page-heading" data-cy="FrequencyHeading">
    <span>Frequencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-frequency"
        [routerLink]="['/frequency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Frequency </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="frequencies?.length === 0">
    <span>No frequencies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="frequencies && frequencies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="operationType"><span>Operation Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="executionTime"><span>Execution Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="executionWeekDay"><span>Execution Week Day</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="executionMonthDay"><span>Execution Month Day</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="daysAfter"><span>Days After</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cycle"><span>Cycle</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="periodOfOccurrence"><span>Period Of Occurrence</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numberOfCycle"><span>Number Of Cycle</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="occurrenceByPeriod"><span>Occurrence By Period</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let frequency of frequencies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/frequency', frequency.id, 'view']">{{ frequency.id }}</a>
          </td>
          <td>{{ frequency.name }}</td>
          <td>{{ frequency.type }}</td>
          <td>{{ frequency.operationType }}</td>
          <td>{{ frequency.executionTime }}</td>
          <td>{{ frequency.executionWeekDay }}</td>
          <td>{{ frequency.executionMonthDay }}</td>
          <td>{{ frequency.daysAfter }}</td>
          <td>{{ frequency.createdBy }}</td>
          <td>{{ frequency.createdDate | formatMediumDatetime }}</td>
          <td>{{ frequency.lastModifiedBy }}</td>
          <td>{{ frequency.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ frequency.cycle }}</td>
          <td>{{ frequency.periodOfOccurrence }}</td>
          <td>{{ frequency.numberOfCycle }}</td>
          <td>{{ frequency.occurrenceByPeriod }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/frequency', frequency.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/frequency', frequency.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(frequency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="frequencies && frequencies.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
