<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="blacklisted">
      <h2 data-cy="blacklistedDetailsHeading"><span>Blacklisted</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ blacklisted.id }}</span>
        </dd>
        <dt><span>Reason</span></dt>
        <dd>
          <span>{{ blacklisted.reason }}</span>
        </dd>
        <dt><span>Blocked</span></dt>
        <dd>
          <span>{{ blacklisted.blocked }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ blacklisted.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ blacklisted.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ blacklisted.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ blacklisted.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Spare 1</span></dt>
        <dd>
          <span>{{ blacklisted.spare1 }}</span>
        </dd>
        <dt><span>Spare 2</span></dt>
        <dd>
          <span>{{ blacklisted.spare2 }}</span>
        </dd>
        <dt><span>Spare 3</span></dt>
        <dd>
          <span>{{ blacklisted.spare3 }}</span>
        </dd>
        <dt><span>Commissioning Plan</span></dt>
        <dd>
          <div *ngIf="blacklisted.commissioningPlan">
            <a [routerLink]="['/commissioning-plan', blacklisted.commissioningPlan?.id, 'view']">{{ blacklisted.commissioningPlan?.id }}</a>
          </div>
        </dd>
        <dt><span>Partner</span></dt>
        <dd>
          <div *ngIf="blacklisted.partner">
            <a [routerLink]="['/partner', blacklisted.partner?.id, 'view']">{{ blacklisted.partner?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/blacklisted', blacklisted.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
