<div>
  <h2 id="page-heading" data-cy="ConfigurationPlanHeading">
    <span>Configuration Plans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-configuration-plan"
        [routerLink]="['/configuration-plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Configuration Plan </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="configurationPlans?.length === 0">
    <span>No configurationPlans found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="configurationPlans && configurationPlans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commissionType.id"><span>Commission Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="partnerProfile.id"><span>Partner Profile</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commissioningPlan.id"><span>Commissioning Plan</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let configurationPlan of configurationPlans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/configuration-plan', configurationPlan.id, 'view']">{{ configurationPlan.id }}</a>
          </td>
          <td>
            <!--            <div *ngIf="configurationPlan.commissionType">-->
            <!--              <a [routerLink]="['/commission-type', configurationPlan.commissionType?.id, 'view']">{{-->
            <!--                configurationPlan.commissionType?.id-->
            <!--              }}</a>-->
            <!--            </div>-->
          </td>
          <td>
            <div *ngIf="configurationPlan.partnerProfile">
              <a [routerLink]="['/partner-profile', configurationPlan.partnerProfile?.id, 'view']">{{
                configurationPlan.partnerProfile?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="configurationPlan.commissioningPlan">
              <a [routerLink]="['/commissioning-plan', configurationPlan.commissioningPlan?.id, 'view']">{{
                configurationPlan.commissioningPlan?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/configuration-plan', configurationPlan.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/configuration-plan', configurationPlan.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(configurationPlan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="configurationPlans && configurationPlans.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
