<ngx-loading [show]="isSaving" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <jhi-alert-error></jhi-alert-error>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div id="page-heading" class="form__section--title mb-2">
        <h2 id="jhi-commissioning-plan-heading" data-cy="CommissioningPlanCreateUpdateHeading">Nouveau Plan de Commissionnement</h2>
      </div>

      <div class="row mx-0">
        <section class="form__section infos-section" data-cy="infos-section">
          <div class="form__section--title mb-2">
            <h2>Informations générales</h2>
          </div>
          <div class="row mx-0">
            <div class="col-md-6">
              <div class="row">
                <div class="col-6 mb-3">
                  <label class="form-label" for="field_planType">Type <span class="red">*</span></label>
                  <select class="form-control" id="field_planType" data-cy="planType" name="planType" formControlName="planType">
                    <option
                      [ngValue]="
                        planTypeOption.id === editForm.get('planType')!.value?.id ? editForm.get('planType')!.value : planTypeOption
                      "
                      *ngFor="let planTypeOption of planType"
                    >
                      {{ planTypeOption.label }}
                    </option>
                  </select>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label" for="field_name">Nom du plan <span class="red">*</span></label>
                  <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
                  <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> Ce champs est obligatoire. </small>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label" for="field_beginDate">Date de début <span class="red">*</span></label>
                  <div class="d-flex">
                    <input
                      id="field_beginDate"
                      data-cy="beginDate"
                      type="date"
                      class="form-control"
                      name="beginDate"
                      formControlName="beginDate"
                      placeholder="JJ/MM/AAAA"
                    />
                  </div>
                  <div
                    *ngIf="editForm.get('beginDate')!.invalid && (editForm.get('beginDate')!.dirty || editForm.get('beginDate')!.touched)"
                  >
                    <small class="form-text text-danger" *ngIf="editForm.get('beginDate')?.errors?.required">
                      Ce champs est obligatoire.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.get('beginDate')?.errors?.ZonedDateTimelocal">
                      Ce champs doit être une date longue.
                    </small>
                    <small class="form-text text-danger" [hidden]="editForm.get('beginDate')?.value < editForm.get('endDate')?.value">
                      La date de fin doit être supérieure à la date de début.
                    </small>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label" for="field_endDate">Date de fin </label>
                  <div class="d-flex">
                    <input
                      id="field_endDate"
                      data-cy="endDate"
                      type="date"
                      class="form-control"
                      name="endDate"
                      formControlName="endDate"
                      placeholder="JJ/MM/AAAA"
                    />
                  </div>
                  <div
                    *ngIf="
                      (editForm.get('endDate')!.invalid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)) ||
                      editForm.get('beginDate')?.value > editForm.get('endDate')?.value
                    "
                  >
                    <small class="form-text text-danger" [hidden]="!editForm.get('endDate')?.errors?.ZonedDateTimelocal">
                      Ce champs doit être une date longue.
                    </small>
                    <small class="form-text text-danger" [hidden]="editForm.get('beginDate')?.value < editForm.get('endDate')?.value">
                      La date de fin doit être supérieure à la date de début.
                    </small>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label" for="field_frequency">Fréquence Calcul <span class="red">*</span></label>
                  <select
                    class="form-control"
                    id="field_calculusFrequency"
                    data-cy="calculusFrequency"
                    name="calculusFrequency"
                    formControlName="calculusFrequency"
                    (change)="onFrequencyCalculusChange()"
                  >
                    <option [ngValue]="null"></option>
                    <option
                      [ngValue]="
                        calculusFrequencyOption.id === editForm.get('calculusFrequency')!.value?.id
                          ? editForm.get('calculusFrequency')!.value
                          : calculusFrequencyOption
                      "
                      *ngFor="let calculusFrequencyOption of calculusFrequenciesSharedCollection; trackBy: trackFrequencyById"
                    >
                      {{ calculusFrequencyOption.name }}
                    </option>
                  </select>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label" for="field_payment">Mode de paiement <span class="red">*</span></label>
                  <select
                    class="form-control"
                    id="field_payment"
                    data-cy="payment"
                    name="payment"
                    formControlName="paymentMode"
                    (change)="onPaymentModeChange()"
                  >
                    <option [ngValue]="null"></option>
                    <option
                      [ngValue]="
                        paymentOption.id === editForm.get('paymentMode')!.value?.id ? editForm.get('paymentMode')!.value : paymentOption
                      "
                      *ngFor="let paymentOption of paymentStrategy"
                    >
                      {{ paymentOption.label }}
                    </option>
                  </select>
                </div>
                <div class="col-6 mb-3" *ngIf="frequencyPaymentToShow === 'SCHEDULED'">
                  <label class="form-label" for="field_frequency_payment">Fréquence de paiement <span class="red">*</span></label>
                  <select
                    class="form-control"
                    id="field_frequency_payment"
                    data-cy="frequency_payment"
                    name="frequency_payment"
                    formControlName="paymentFrequency"
                    (change)="onFrequencyPaymentChange()"
                  >
                    <option [ngValue]="null"></option>
                    <option
                      [ngValue]="
                        frequencyOption.id === editForm.get('paymentFrequency')!.value?.id
                          ? editForm.get('paymentFrequency')!.value
                          : frequencyOption
                      "
                      *ngFor="let frequencyOption of paymentFrequenciesSharedCollection; trackBy: trackFrequencyById"
                    >
                      {{ frequencyOption.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="field_services" class="form-label">Services <span class="red">*</span></label>
              <div class="list-box">
                <div class="check-lists">
                  <div *ngFor="let serviceType of serviceTypesSharedCollection" class="check-list-item">
                    <label class="chk-container" *ngIf="serviceType.commissioningPlanType === editForm.get('planType')!.value?.type">
                      <input type="checkbox" (change)="addOrRemoveServiceType(serviceType)" />
                      <span class="checkmark"></span>
                      {{ serviceType.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mx-0 ps-0">
            <div
              class="col-md-6"
              *ngIf="
                calculusPeriodToShow &&
                calculusPeriodToShow !== 'NONE' &&
                calculusPeriodToShow !== 'INSTANTLY' &&
                calculusPeriodToShow !== 'CYCLIC' &&
                calculusPeriodToShow !== 'QUARTERLY' &&
                calculusPeriodToShow !== 'SEMI_ANNUALLY'
              "
            >
              <section class="form__section infos-section section__mt" data-cy="infos-section">
                <div class="form__section--title mb-2">
                  <h4>Période de calcul</h4>
                </div>
                <div *ngIf="calculusPeriodToShow === 'DAILY'">
                  <div class="d-flex ps-0">
                    <label class="chk-container">
                      <input
                        type="checkbox"
                        [(ngModel)]="calculusPeriod.isCompleteDay"
                        [ngModelOptions]="{ standalone: true }"
                        [checked]="calculusPeriod.isCompleteDay"
                        (change)="toggleIsCompleteDay()"
                      />
                      <span class="checkmark"></span>
                      Journée entière
                    </label>
                  </div>
                  <div class="row mx-0 mb-1" *ngIf="!calculusPeriod.isCompleteDay!">
                    <div class="col-md-6 ps-0">
                      <label class="form-label" for="field_hourFrom">Heure de début</label>
                      <input
                        type="number"
                        min="0"
                        max="23"
                        class="form-control"
                        name="dayHourFrom"
                        id="field_dayHourFrom"
                        data-cy="dayHourFrom"
                        formControlName="dayHourFrom"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="calculusPeriod.isPreviousDayHourFrom"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="calculusPeriod.isPreviousDayHourFrom"
                        />
                        <span class="checkmark"></span>
                        La veille
                      </label>
                    </div>
                    <div class="col-md-6 ps-0 mt-2">
                      <label class="form-label" for="field_hourTo">Heure de fin</label>
                      <input
                        type="number"
                        min="0"
                        max="23"
                        class="form-control"
                        name="dayHourTo"
                        id="field_dayHourTo"
                        data-cy="dayHourTo"
                        formControlName="dayHourTo"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="calculusPeriod.isPreviousDayHourTo"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="calculusPeriod.isPreviousDayHourTo"
                        />
                        <span class="checkmark"></span>
                        La veille
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mx-0 mb-1" *ngIf="calculusPeriodToShow === 'WEEKLY'">
                  <div class="col-md-6 ps-0">
                    <label class="form-label" for="field_hourFrom">Jour de début <span class="red">*</span></label>
                    <select
                      class="form-control"
                      name="weekDayFrom"
                      id="field_weekDayFrom"
                      data-cy="weekDayFrom"
                      formControlName="weekDayFrom"
                    >
                      <option [ngValue]="null"></option>
                      <option *ngFor="let weekDay of weekDays" [value]="weekDay.id">
                        {{ weekDay.label }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6 ps-0">
                    <label class="form-label" for="field_hourTo">Jour de fin <span class="red">*</span></label>
                    <select class="form-control" name="weekDayTo" id="field_weekDayTo" data-cy="weekDayTo" formControlName="weekDayTo">
                      <option [ngValue]="null"></option>
                      <option *ngFor="let weekDay of weekDays" [value]="weekDay.id">
                        {{ weekDay.label }}
                      </option>
                    </select>
                  </div>
                </div>
                <div *ngIf="calculusPeriodToShow === 'MONTHLY'">
                  <div class="d-flex ps-0">
                    <label class="chk-container">
                      <input
                        type="checkbox"
                        [(ngModel)]="calculusPeriod.isCompleteMonth"
                        [ngModelOptions]="{ standalone: true }"
                        [checked]="calculusPeriod.isCompleteMonth"
                        (change)="toggleIsCompleteMonth()"
                      />
                      <span class="checkmark"></span>
                      Mois entier
                    </label>
                  </div>
                  <div class="row mx-0 mb-1" *ngIf="!calculusPeriod.isCompleteMonth!">
                    <div class="col-md-6 ps-0">
                      <label class="form-label" for="field_hourFrom">Jour de début</label>
                      <input
                        min="0"
                        max="28"
                        type="number"
                        class="form-control"
                        name="monthDayFrom"
                        id="field_monthDayFrom"
                        data-cy="monthDayFrom"
                        formControlName="monthDayFrom"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="calculusPeriod.isPreviousMonthDayFrom"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="calculusPeriod.isPreviousMonthDayFrom"
                        />
                        <span class="checkmark"></span>
                        Mois précédent (m - 2)
                      </label>
                    </div>
                    <div class="col-md-6 ps-0 mt-2">
                      <label class="form-label" for="field_hourTo">Jour de fin</label>
                      <input
                        min="0"
                        max="28"
                        type="number"
                        class="form-control"
                        name="monthDayTo"
                        id="field_monthDayTo"
                        data-cy="monthDayTo"
                        formControlName="monthDayTo"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="calculusPeriod.isPreviousMonthDayTo"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="calculusPeriod.isPreviousMonthDayTo"
                        />
                        <span class="checkmark"></span>
                        Mois précédent
                      </label>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="col-md-6"
              *ngIf="
                periodPaymentToShow &&
                periodPaymentToShow !== 'NONE' &&
                periodPaymentToShow !== 'INSTANTLY' &&
                periodPaymentToShow !== 'QUARTERLY' &&
                periodPaymentToShow !== 'CYCLIC' &&
                periodPaymentToShow !== 'SEMI_ANNUALLY'
              "
            >
              <section class="form__section infos-section section__mt" data-cy="infos-section">
                <div class="form__section--title mb-2">
                  <h4>Période de paiement</h4>
                </div>
                <div *ngIf="periodPaymentToShow === 'DAILY'">
                  <div class="d-flex ps-0">
                    <label class="chk-container">
                      <input
                        type="checkbox"
                        [(ngModel)]="paymentPeriod.isCompleteDay"
                        [ngModelOptions]="{ standalone: true }"
                        [checked]="paymentPeriod.isCompleteDay"
                        (change)="toggleIsCompleteDayOfPayment()"
                      />
                      <span class="checkmark"></span>
                      Journée entière
                    </label>
                  </div>
                  <div class="row mx-0 mb-1" *ngIf="!paymentPeriod.isCompleteDay!">
                    <div class="col-md-6 ps-0">
                      <label class="form-label" for="field_dayHourFromOfPayment">Heure de début</label>
                      <input
                        type="number"
                        min="0"
                        max="23"
                        class="form-control"
                        name="dayHourFromOfPayment"
                        id="field_dayHourFromOfPayment"
                        data-cy="dayHourFromOfPayment"
                        formControlName="dayHourFromOfPayment"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="paymentPeriod.isPreviousDayHourFrom"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="paymentPeriod.isPreviousDayHourFrom"
                        />
                        <span class="checkmark"></span>
                        La veille
                      </label>
                    </div>
                    <div class="col-md-6 ps-0 mt-2">
                      <label class="form-label" for="field_dayHourToOfPayment">Heure de fin</label>
                      <input
                        type="number"
                        min="0"
                        max="23"
                        class="form-control"
                        name="dayHourToOfPayment"
                        id="field_dayHourToOfPayment"
                        data-cy="dayHourToOfPayment"
                        formControlName="dayHourToOfPayment"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="paymentPeriod.isPreviousDayHourTo"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="paymentPeriod.isPreviousDayHourTo"
                        />
                        <span class="checkmark"></span>
                        La veille
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mx-0 mb-1" *ngIf="periodPaymentToShow === 'WEEKLY'">
                  <div class="col-md-6 ps-0">
                    <label class="form-label" for="field_hourFromOfPayment">Jour de début <span class="red">*</span></label>
                    <select
                      class="form-control"
                      name="weekDayFromOfPayment"
                      id="field_weekDayFromOfPayment"
                      data-cy="weekDayFromOfPayment"
                      formControlName="weekDayFromOfPayment"
                    >
                      <option [ngValue]="null"></option>
                      <option *ngFor="let weekDay of weekDays" [value]="weekDay.id">
                        {{ weekDay.label }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6 ps-0">
                    <label class="form-label" for="field_hourToOfPayment">Jour de fin <span class="red">*</span></label>
                    <select
                      class="form-control"
                      name="weekDayToOfPayment"
                      id="field_weekDayToOfPayment"
                      data-cy="weekDayToOfPayment"
                      formControlName="weekDayToOfPayment"
                    >
                      <option [ngValue]="null"></option>
                      <option *ngFor="let weekDay of weekDays" [value]="weekDay.id">
                        {{ weekDay.label }}
                      </option>
                    </select>
                  </div>
                </div>
                <div *ngIf="periodPaymentToShow === 'MONTHLY'">
                  <div class="d-flex ps-0">
                    <label class="chk-container">
                      <input
                        type="checkbox"
                        [(ngModel)]="paymentPeriod.isCompleteMonth"
                        [ngModelOptions]="{ standalone: true }"
                        [checked]="paymentPeriod.isCompleteMonth"
                        (change)="toggleIsCompleteMonthOfPayment()"
                      />
                      <span class="checkmark"></span>
                      Mois entier
                    </label>
                  </div>
                  <div class="row mx-0 mb-1" *ngIf="!paymentPeriod.isCompleteMonth!">
                    <div class="col-md-6 ps-0">
                      <label class="form-label" for="field_hourFromOfPayment">Jour de début</label>
                      <input
                        min="0"
                        max="28"
                        type="number"
                        class="form-control"
                        name="monthDayFromOfPayment"
                        id="field_monthDayFromOfPayment"
                        data-cy="monthDayFromOfPayment"
                        formControlName="monthDayFromOfPayment"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="paymentPeriod.isPreviousMonthDayFrom"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="paymentPeriod.isPreviousMonthDayFrom"
                        />
                        <span class="checkmark"></span>
                        Mois précédent (m - 2)
                      </label>
                    </div>
                    <div class="col-md-6 ps-0 mt-2">
                      <label class="form-label" for="field_hourToOfPayment">Jour de fin</label>
                      <input
                        min="0"
                        max="28"
                        type="number"
                        class="form-control"
                        name="monthDayToOfPayment"
                        id="field_monthDayToOfPayment"
                        data-cy="monthDayToOfPayment"
                        formControlName="monthDayToOfPayment"
                      />
                    </div>
                    <div class="col-md-6 pe-0 d-flex align-items-end">
                      <label class="chk-container">
                        <input
                          type="checkbox"
                          [(ngModel)]="paymentPeriod.isPreviousMonthDayTo"
                          [ngModelOptions]="{ standalone: true }"
                          [checked]="paymentPeriod.isPreviousMonthDayTo"
                        />
                        <span class="checkmark"></span>
                        Mois précédent
                      </label>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>

        <section class="form__section config-section mt-2 col-md-12" data-cy="config-section">
          <div class="form__section--title mb-2 d-flex justify-content-between align-items-center">
            <h2>Configuration des profils</h2>
            <button
              type="button"
              id="add-configuration-line"
              data-cy="addConfigurationLineButton"
              class="btn btn--outline--secondary"
              [disabled]="!isLastConfigLineValid()"
              (click)="addConfigurationLine(); setAvailablePartnerProfiles()"
            >
              <fa-icon icon="plus"></fa-icon>&nbsp;<span>Ajouter une ligne</span>
            </button>
          </div>
          <div *ngFor="let configurationPlanLine of configurationPlans; let index = index">
            <div class="form__section config-line my-2" data-cy="config-line" *ngIf="configurationPlanLine.isSelected">
              <div class="row">
                <div class="col-md-12 d-flex justify-content-between align-items-center">
                  <mat-slide-toggle
                    [(ngModel)]="configurationPlanLine.usePalier"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="togglePalierTaux(index)"
                    >Palier</mat-slide-toggle
                  >
                  <div
                    *ngIf="getSelectedPlans().length > 1"
                    (click)="removeConfigurationLine(index); addLastSelectedProfileToAvailableProfiles()"
                    class="close-btn"
                  >
                    <fa-icon class="red" icon="close"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label" for="field_partnerProfile">Profil <span class="red">*</span></label>
                    <select
                      class="form-control"
                      id="field_partnerProfile"
                      data-cy="partnerProfile"
                      name="partnerProfile"
                      [attr.disabled]="index < getSelectedPlans().length - 1 ? '' : null"
                      [formControlName]="'partnerProfile' + index"
                      (ngModelChange)="
                        selectProfile(index); flushSelectedZones(index); setAvailableTerritories(index); setAvailablePartnerProfiles()
                      "
                    >
                      <option [ngValue]="null"></option>
                      <option
                        [ngValue]="
                          partnerProfileOption.id === editForm.get('partnerProfile' + index)!.value?.id
                            ? editForm.get('partnerProfile' + index)!.value
                            : partnerProfileOption
                        "
                        *ngFor="
                          let partnerProfileOption of index == configurationPlans.length - 1 ||
                          (index == getSelectedPlans().length - 1 && index > 0)
                            ? availablePartnerProfiles
                            : partnerProfilesSharedCollection;
                          trackBy: trackPartnerProfileById
                        "
                      >
                        {{ partnerProfileOption.name + ' (' + partnerProfileOption.code + ')' }}
                      </option>
                    </select>
                  </div>
                  <div class="mb-3" *ngIf="!configurationPlanLine.usePalier">
                    <label class="form-label" for="field_taux">Taux <span class="red">*</span></label>
                    <input
                      type="number"
                      class="form-control"
                      name="taux"
                      id="field_taux"
                      data-cy="taux"
                      [formControlName]="'taux' + index"
                    />
                    <div
                      *ngIf="
                        editForm.get('taux' + index)!.invalid &&
                        (editForm.get('taux' + index)!.dirty || editForm.get('taux' + index)!.touched)
                      "
                    >
                      <small class="form-text text-danger" *ngIf="editForm.get('taux' + index)?.errors?.required">
                        Ce champs est obligatoire.
                      </small>
                      <small class="form-text text-danger" *ngIf="editForm.get('taux' + index)?.errors?.max">
                        La valeur maximale est 100.
                      </small>
                      <small class="form-text text-danger" *ngIf="editForm.get('taux' + index)?.errors?.min">
                        La valeur minimale est 0.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label" for="field_zone">Territoire/Zone <span class="red">*</span></label>
                  <div class="list-box">
                    <div class="check-lists">
                      <div class="check-list-item">
                        <label class="chk-container">
                          <input
                            type="checkbox"
                            [checked]="configurationPlanLine.areAllTerritoriesSelected"
                            (change)="
                              configurationPlanLine.areAllTerritoriesSelected = !configurationPlanLine.areAllTerritoriesSelected;
                              toggleAllTerritoriesSelection(index, configurationPlanLine.areAllTerritoriesSelected)
                            "
                          />
                          <span class="checkmark"></span>
                          Tous les territoires
                        </label>
                      </div>
                      <div
                        *ngFor="
                          let territory of index > 0 && configurationPlanLine.availableTerritories
                            ? configurationPlanLine.availableTerritories
                            : territorySharedCollection
                        "
                        class="check-list-item"
                      >
                        <label class="chk-container">
                          <input
                            type="checkbox"
                            (change)="toggleTerritorySelection(index, territory.zones); setAvailablePartnerProfiles()"
                            [checked]="isTerritorySelected(index, territory.zones)"
                          />
                          <span class="checkmark"></span>
                          {{ territory.name }}
                        </label>
                        <div class="sub-list">
                          <div *ngFor="let zone of territory.zones" class="check-list-item">
                            <label class="chk-container">
                              <input
                                type="checkbox"
                                (change)="addOrRemoveZone(index, zone, true); setAvailablePartnerProfiles()"
                                [checked]="isZoneSelected(index, zone)"
                              />
                              <span class="checkmark"></span>
                              {{ zone.name }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form__section palier_form mt-2" *ngIf="configurationPlanLine.usePalier">
                    <div class="form__section--title">
                      <h4>Paliers</h4>
                      <button
                        type="button"
                        id="add-palier-line"
                        data-cy="addPalierLineButton"
                        class="btn btn--outline--secondary"
                        [disabled]="!isLastPalierValid(index) || isLastPalierToInfinity(index)"
                        (click)="addNewCommissionType(index, true)"
                      >
                        <fa-icon icon="plus"></fa-icon>&nbsp;<span>Ajouter un palier</span>
                      </button>
                    </div>
                    <div>
                      <div
                        *ngFor="let palier of configurationPlanLine.commissionTypes; let palierIndex = index"
                        class="row d-flex align-items-center my-1"
                      >
                        <div class="col-md-8 row d-flex align-items-center mx-0">
                          <div class="col-md-1 p-0 d-flex justify-content-end">
                            <label class="form-label mb-0" for="palier_from">De <span class="red">*</span></label>
                          </div>
                          <div class="col-md-3">
                            <input
                              [disabled]="palierIndex != 0"
                              [(ngModel)]="palier.minValue"
                              [ngModelOptions]="{ standalone: true }"
                              type="number"
                              class="form-control"
                              name="palier_from"
                              id="palier_from"
                              data-cy="palier_from"
                            />
                          </div>
                          <div class="col-md-1 p-0 d-flex justify-content-end">
                            <label class="form-label mb-0" for="palier_to">À <span class="red">*</span></label>
                          </div>
                          <div class="col-md-3">
                            <input
                              [disabled]="
                                isPalierMaxValueDisabled(index, palierIndex) || (palier.isInfinity !== undefined && palier.isInfinity)
                              "
                              [(ngModel)]="palier.maxValue"
                              [ngModelOptions]="{ standalone: true }"
                              type="number"
                              class="form-control"
                              name="palier_to"
                              id="palier_to"
                              data-cy="palier_to"
                            />
                          </div>
                          <div class="col-md-1 p-0 d-flex justify-content-end">
                            <label class="form-label mb-0" for="palier_value"
                              >Valeur {{ palier.isPalierFix ? '' : '(%)' }} <span class="red">*</span></label
                            >
                          </div>
                          <div class="col-md-3">
                            <input
                              [(ngModel)]="palier.palierValue"
                              [max]="palier.isPalierFix ? '' : 100"
                              [min]="0"
                              [ngModelOptions]="{ standalone: true }"
                              type="number"
                              class="form-control"
                              name="palier_value"
                              id="palier_value"
                              data-cy="palier_value"
                            />
                          </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-between ps-0">
                          <div>
                            Taux &nbsp;
                            <mat-slide-toggle [(ngModel)]="palier.isPalierFix" [ngModelOptions]="{ standalone: true }"
                              >Fixe</mat-slide-toggle
                            >
                          </div>
                          <label class="chk-container ms-2" *ngIf="isPalierTheLast(index, palierIndex)">
                            <input
                              type="checkbox"
                              [(ngModel)]="palier.isInfinity"
                              [ngModelOptions]="{ standalone: true }"
                              [checked]="palier.isInfinity"
                              (change)="toggleIsInfinity(palier)"
                            />
                            <span class="checkmark"></span>
                            À l'infini?
                          </label>
                          <div *ngIf="palierIndex >= 1" (click)="removePalierLine(index, palierIndex)" class="close-btn">
                            <fa-icon class="red" icon="close"></fa-icon>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="getSelectedPlans().length >= 2" class="mb-2 d-flex justify-content-end align-items-center">
            <button
              type="button"
              id="add-configuration-line-bis"
              data-cy="addConfigurationLineButton"
              class="btn btn--outline--secondary"
              [disabled]="!isLastConfigLineValid()"
              (click)="addConfigurationLine(); setAvailablePartnerProfiles()"
            >
              <fa-icon icon="plus"></fa-icon>&nbsp;<span>Ajouter une ligne</span>
            </button>
          </div>
        </section>

        <div class="my-3 p-0">
          <button
            type="button"
            id="cancel-save"
            data-cy="entityCreateCancelButton"
            class="btn btn--outline--secondary"
            (click)="previousState()"
          >
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
          </button>
          <button type="button" id="save-draft" data-cy="entityCreateDraftButton" class="btn btn--outline--primary">
            <fa-icon icon="book"></fa-icon>&nbsp;<span>Sauvegarder</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="
              isAnyPalierInvalid() ||
              !hasServices() ||
              !linesHaveZones() ||
              configurationPlanForm.invalid ||
              editForm.invalid ||
              isSaving ||
              editForm.get('beginDate')?.value > editForm.get('endDate')?.value
            "
            class="btn btn--primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Valider</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
