.admin-wrapper{
    display: flex;
    .sidebar-wrapper{
        background-color: var(--color-secondary);
        height: 100vh;
        width: 20%;
        color: #fff;
        padding: var(--space-xs);
    }
    .main-wrapper{
        flex: 1;
        padding: var(--space-xs);
        height: 100vh;
        overflow: scroll;
    }
}