.plan-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-secondary);
    padding:var(--space-xs);
    margin-bottom: var(--space-xl);
    h1{
        margin: 0;
    }
    .title-with-back{
        display: flex;
        align-items: center;
        gap: var(--space-l)
    }
}