
.container {
    width: 100%;
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
    margin-left: auto;
    margin-right: auto;
  
    @include media(tabletAndUp) {
      padding-right: var(--space-m);
      padding-left: var(--space-m);
      max-width: 60rem;
    }
  }

  section#sidebar{
    
  }