<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="p-4">
  <div id="page-heading" class="d-flex justify-content-between align-items-center">
    <h2 data-cy="CommissioningPlanHeading">
      <span>Plans de commission</span>
    </h2>
    <div>
      <button class="btn btn--secondary me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span></span>
      </button>

      <button
        *jhiHasAnyAuthority="'CREATE_PLAN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn--primary jh-create-entity create-commissioning-plan"
        [routerLink]="['/commissioning-plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau Plan </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commissioningPlans?.length === 0">
    <span>Aucun plan de commission</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commissioningPlans && commissioningPlans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="name"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="beginDate"><span>Date de début</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="endDate"><span>Date de fin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="creationDate"><span>Date de création</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Crée par</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="state"><span>Statut</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commissioningPlan of commissioningPlans; trackBy: trackId" data-cy="entityTable">
          <td>{{ commissioningPlan.name }}</td>
          <td>{{ commissioningPlan.beginDate | formatMediumDatetime }}</td>
          <td>{{ commissioningPlan.endDate | formatMediumDatetime }}</td>
          <td>{{ commissioningPlan.creationDate | formatMediumDatetime }}</td>
          <td>{{ commissioningPlan.createdBy }}</td>
          <td>{{ getPlanStateLabel(commissioningPlan.state) }}</td>
          <td class="text-end">
            <div>
              <button
                *jhiHasAnyAuthority="'READ_PLAN'"
                type="submit"
                [routerLink]="['/commissioning-plan', commissioningPlan.id, 'view']"
                class="btn btn--primary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                *jhiHasAnyAuthority="'UPDATE_PLAN'"
                type="submit"
                [routerLink]="['/commissioning-plan', commissioningPlan.id, 'edit']"
                class="btn btn--secondary btn-sm"
                data-cy="entityEditButton"
                disabled
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                *jhiHasAnyAuthority="'DELETE_PLAN'"
                type="submit"
                (click)="delete(commissioningPlan)"
                class="btn btn--danger btn-sm"
                data-cy="entityDeleteButton"
                disabled
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                *jhiHasAnyAuthority="'UPDATE_PLAN'"
                type="submit"
                [routerLink]="['/commissioning-plan', commissioningPlan.id, 'stop']"
                class="btn btn--danger btn-sm"
                data-cy="entityStopButton"
                disabled
              >
                <fa-icon icon="ban"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                *jhiHasAnyAuthority="'READ_PLAN'"
                type="submit"
                [routerLink]="['/commission', commissioningPlan.id, 'plan']"
                class="btn btn--secondary btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="book"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commissioningPlans && commissioningPlans.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
