<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span>Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ payment.amount }}</span>
        </dd>
        <dt><span>Sender Msisdn</span></dt>
        <dd>
          <span>{{ payment.senderMsisdn }}</span>
        </dd>
        <dt><span>Receiver Msisdn</span></dt>
        <dd>
          <span>{{ payment.receiverMsisdn }}</span>
        </dd>
        <dt><span>Receiver Profile</span></dt>
        <dd>
          <span>{{ payment.receiverProfile }}</span>
        </dd>
        <dt><span>Period Start Date</span></dt>
        <dd>
          <span>{{ payment.periodStartDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Period End Date</span></dt>
        <dd>
          <span>{{ payment.periodEndDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Execution Duration</span></dt>
        <dd>
          <span>{{ payment.executionDuration }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ payment.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ payment.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ payment.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ payment.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Payment Status</span></dt>
        <dd>
          <span>{{ payment.paymentStatus }}</span>
        </dd>
        <dt><span>Spare 1</span></dt>
        <dd>
          <span>{{ payment.spare1 }}</span>
        </dd>
        <dt><span>Spare 2</span></dt>
        <dd>
          <span>{{ payment.spare2 }}</span>
        </dd>
        <dt><span>Spare 3</span></dt>
        <dd>
          <span>{{ payment.spare3 }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
