<div>
  <h2 id="page-heading" data-cy="CommissionAccountHeading">
    <span>Commission Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commission-account"
        [routerLink]="['/commission-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Commission Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commissionAccounts?.length === 0">
    <span>No commissionAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commissionAccounts && commissionAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="calculatedBalance"><span>Calculated Balance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="paidBalance"><span>Paid Balance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="partner.id"><span>Partner</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commissionAccount of commissionAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/commission-account', commissionAccount.id, 'view']">{{ commissionAccount.id }}</a>
          </td>
          <td>{{ commissionAccount.calculatedBalance }}</td>
          <td>{{ commissionAccount.paidBalance }}</td>
          <td>{{ commissionAccount.spare1 }}</td>
          <td>{{ commissionAccount.spare2 }}</td>
          <td>{{ commissionAccount.spare3 }}</td>
          <td>
            <div *ngIf="commissionAccount.partner">
              <a [routerLink]="['/partner', commissionAccount.partner?.id, 'view']">{{ commissionAccount.partner?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commission-account', commissionAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commission-account', commissionAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(commissionAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commissionAccounts && commissionAccounts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
