<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <jhi-alert-error></jhi-alert-error>
    <div *ngIf="commissioningPlan">
      <div class="form__section--title mb-3">
        <h2 data-cy="commissioningPlanDetailsHeading">
          <span
            >Détails du plan de commission <span class="fw-bold">{{ commissioningPlan.name }}</span></span
          >
        </h2>
      </div>

      <div class="row mx-0">
        <dl class="jh-entity-details p-0">
          <section class="form__section infos-section" data-cy="infos-section">
            <div class="form__section--title mb-2">
              <h2>Informations générales</h2>
            </div>
            <div class="row mx-0">
              <div class="col-md-6">
                <div class="row mx-0 mb-3">
                  <div class="col-6 ps-0">
                    <dt><span>Statut</span></dt>
                    <dd>
                      <span>{{ getPlanStateLabel(commissioningPlan.state) }}</span>
                    </dd>
                  </div>
                  <div class="col-6 pe-0">
                    <dt><span>Date de début</span></dt>
                    <dd>
                      <span>{{ commissioningPlan.beginDate | formatMediumDatetime }}</span>
                    </dd>
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6 ps-0">
                    <dt><span>Fréquence de calcul</span></dt>
                    <dd>
                      <div *ngIf="commissioningPlan.calculusFrequency">
                        <span>{{ commissioningPlan.calculusFrequency?.name }}</span>
                      </div>
                      <div *ngIf="!commissioningPlan.calculusFrequency">
                        <span><em>Aucune fréquence</em></span>
                      </div>
                    </dd>
                  </div>
                  <div class="col-6 pe-0">
                    <dt><span>Date de fin </span></dt>
                    <dd>
                      <span>{{ commissioningPlan.endDate | formatMediumDatetime }}</span>
                    </dd>
                  </div>
                </div>
                <div *ngIf="commissioningPlan.state === 'ARCHIVED'" class="row mx-0 mb-3">
                  <div class="col-6 ps-0">
                    <dt><span>Date d'archivage</span></dt>
                    <dd>
                      <span>{{ commissioningPlan.archiveDate | formatMediumDatetime }}</span>
                    </dd>
                  </div>
                  <div class="col-6 pe-0">
                    <dt><span>Archivé par</span></dt>
                    <dd>
                      <span>{{ commissioningPlan.archivedBy }}</span>
                    </dd>
                  </div>
                </div>
                <jhi-period-detail [period]="commissioningPlan.calculusPeriod"></jhi-period-detail>
              </div>
              <div class="col-md-6">
                <div class="row mx-0 mb-3">
                  <div class="ps-0">
                    <dt><span>Services</span></dt>
                    <dd>
                      <div *ngIf="commissioningPlan.services?.length === 0">
                        <span><em>Aucun service sélectionné.</em></span>
                      </div>
                      <span *ngFor="let services of commissioningPlan.services; let last = last">
                        <span>{{ services.name }}</span
                        >{{ last ? '' : ', ' }}
                      </span>
                    </dd>
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6 ps-0">
                    <dt><span>Date de création</span></dt>
                    <dd>
                      <span>{{ commissioningPlan.creationDate | formatMediumDatetime }}</span>
                    </dd>
                  </div>
                  <div class="col-6 pe-0">
                    <dt><span>Créé par</span></dt>
                    <dd>
                      <span>{{ commissioningPlan.createdBy }}</span>
                    </dd>
                  </div>
                </div>
                <jhi-period-detail [period]="commissioningPlan.paymentPeriod"></jhi-period-detail>
              </div>
            </div>
          </section>
          <section class="form__section config-section mt-2 col-md-12" data-cy="config-section">
            <div class="form__section--title mb-2 d-flex justify-content-between align-items-center">
              <h2>Profils configurés</h2>
            </div>
            <div *ngIf="commissioningPlan.configurationPlans?.length === 0">
              <span><em>Aucun profil configuré.</em></span>
            </div>
            <div *ngFor="let configurationPlanLine of commissioningPlan.configurationPlans; let index = index">
              <jhi-configuration-plan-detail [configurationPlan]="configurationPlanLine"></jhi-configuration-plan-detail>
            </div>
          </section>
        </dl>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn--outline--secondary" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button disabled type="button" [routerLink]="['/commissioning-plan', commissioningPlan.id, 'edit']" class="btn btn--primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Modifier</span>
      </button>
    </div>
  </div>
</div>
