<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transactionOperation">
      <h2 data-cy="transactionOperationDetailsHeading"><span>Transaction Operation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ transactionOperation.id }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ transactionOperation.amount }}</span>
        </dd>
        <dt><span>Subs Msisdn</span></dt>
        <dd>
          <span>{{ transactionOperation.subsMsisdn }}</span>
        </dd>
        <dt><span>Agent Msisdn</span></dt>
        <dd>
          <span>{{ transactionOperation.agentMsisdn }}</span>
        </dd>
        <dt><span>Type Transaction</span></dt>
        <dd>
          <span>{{ transactionOperation.typeTransaction }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ transactionOperation.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Transaction Status</span></dt>
        <dd>
          <span>{{ transactionOperation.transactionStatus }}</span>
        </dd>
        <dt><span>Sender Zone</span></dt>
        <dd>
          <span>{{ transactionOperation.senderZone }}</span>
        </dd>
        <dt><span>Sender Profile</span></dt>
        <dd>
          <span>{{ transactionOperation.senderProfile }}</span>
        </dd>
        <dt><span>Code Territory</span></dt>
        <dd>
          <span>{{ transactionOperation.codeTerritory }}</span>
        </dd>
        <dt><span>Sub Type</span></dt>
        <dd>
          <span>{{ transactionOperation.subType }}</span>
        </dd>
        <dt><span>Operation Short Date</span></dt>
        <dd>
          <span>{{ transactionOperation.operationShortDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Operation Date</span></dt>
        <dd>
          <span>{{ transactionOperation.operationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Is Fraud</span></dt>
        <dd>
          <span>{{ transactionOperation.isFraud }}</span>
        </dd>
        <dt><span>Tagged At</span></dt>
        <dd>
          <span>{{ transactionOperation.taggedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Fraud Source</span></dt>
        <dd>
          <span>{{ transactionOperation.fraudSource }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ transactionOperation.comment }}</span>
        </dd>
        <dt><span>False Positive Detected At</span></dt>
        <dd>
          <span>{{ transactionOperation.falsePositiveDetectedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Tid</span></dt>
        <dd>
          <span>{{ transactionOperation.tid }}</span>
        </dd>
        <dt><span>Parent Msisdn</span></dt>
        <dd>
          <span>{{ transactionOperation.parentMsisdn }}</span>
        </dd>
        <dt><span>Fct Dt</span></dt>
        <dd>
          <span>{{ transactionOperation.fctDt }}</span>
        </dd>
        <dt><span>Parent Id</span></dt>
        <dd>
          <span>{{ transactionOperation.parentId }}</span>
        </dd>
        <dt><span>Canceled At</span></dt>
        <dd>
          <span>{{ transactionOperation.canceledAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Canceled Id</span></dt>
        <dd>
          <span>{{ transactionOperation.canceledId }}</span>
        </dd>
        <dt><span>Product Id</span></dt>
        <dd>
          <span>{{ transactionOperation.productId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction-operation', transactionOperation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
