<div>
  <h2 id="page-heading" data-cy="TransactionOperationHeading">
    <span>Transaction Operations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction-operation"
        [routerLink]="['/transaction-operation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Transaction Operation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transactionOperations?.length === 0">
    <span>No transactionOperations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transactionOperations && transactionOperations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subsMsisdn"><span>Subs Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="agentMsisdn"><span>Agent Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeTransaction"><span>Type Transaction</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="transactionStatus"><span>Transaction Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="senderZone"><span>Sender Zone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="senderProfile"><span>Sender Profile</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codeTerritory"><span>Code Territory</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subType"><span>Sub Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="operationShortDate"><span>Operation Short Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="operationDate"><span>Operation Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isFraud"><span>Is Fraud</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="taggedAt"><span>Tagged At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fraudSource"><span>Fraud Source</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comment"><span>Comment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="falsePositiveDetectedAt"><span>False Positive Detected At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tid"><span>Tid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parentMsisdn"><span>Parent Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fctDt"><span>Fct Dt</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parentId"><span>Parent Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="canceledAt"><span>Canceled At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="canceledId"><span>Canceled Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="productId"><span>Product Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionOperation of transactionOperations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaction-operation', transactionOperation.id, 'view']">{{ transactionOperation.id }}</a>
          </td>
          <td>{{ transactionOperation.amount }}</td>
          <td>{{ transactionOperation.subsMsisdn }}</td>
          <td>{{ transactionOperation.agentMsisdn }}</td>
          <td>{{ transactionOperation.typeTransaction }}</td>
          <td>{{ transactionOperation.createdAt | formatMediumDatetime }}</td>
          <td>{{ transactionOperation.transactionStatus }}</td>
          <td>{{ transactionOperation.senderZone }}</td>
          <td>{{ transactionOperation.senderProfile }}</td>
          <td>{{ transactionOperation.codeTerritory }}</td>
          <td>{{ transactionOperation.subType }}</td>
          <td>{{ transactionOperation.operationShortDate | formatMediumDate }}</td>
          <td>{{ transactionOperation.operationDate | formatMediumDatetime }}</td>
          <td>{{ transactionOperation.isFraud }}</td>
          <td>{{ transactionOperation.taggedAt | formatMediumDatetime }}</td>
          <td>{{ transactionOperation.fraudSource }}</td>
          <td>{{ transactionOperation.comment }}</td>
          <td>{{ transactionOperation.falsePositiveDetectedAt | formatMediumDatetime }}</td>
          <td>{{ transactionOperation.tid }}</td>
          <td>{{ transactionOperation.parentMsisdn }}</td>
          <td>{{ transactionOperation.fctDt }}</td>
          <td>{{ transactionOperation.parentId }}</td>
          <td>{{ transactionOperation.canceledAt | formatMediumDatetime }}</td>
          <td>{{ transactionOperation.canceledId }}</td>
          <td>{{ transactionOperation.productId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction-operation', transactionOperation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction-operation', transactionOperation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(transactionOperation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transactionOperations && transactionOperations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
