<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="p-4">
  <div class="form__section--title mb-4">
    <h2 id="page-heading" data-cy="CommissionHeading">Commissions calculées</h2>
  </div>

  <div class="row mb-4">
    <div class="col-md-9">
      <form *ngIf="!isLoading" [formGroup]="filterForm" (ngSubmit)="onSearch()">
        <div class="row d-flex align-items-end">
          <div class="col">
            <label class="form-label" for="field_planType">Msisdn</label>
            <input type="number" class="form-control" name="msisdn" formControlName="msisdn" (search)="onChangeData($event)" />
          </div>
          <div class="col">
            <label class="form-label" for="field_planType">Zone</label>
            <select formControlName="zone" name="zone" class="form-control">
              <option *ngFor="let zone of allZones" [value]="zone.id">{{ zone.name }}</option>
            </select>
          </div>
          <div class="col">
            <label class="form-label" for="field_planType">Profil</label>
            <select (change)="onChangeData($event)" formControlName="profile" name="profile" id="profil" class="form-control">
              <option *ngFor="let profil of profils" [value]="profil">{{ profil }}</option>
            </select>
          </div>
          <div class="col">
            <label class="form-label" for="field_planType">Date début</label>
            <input
              type="date"
              (change)="onChangeData($event)"
              id="dateStart"
              formControlName="dateStart"
              name="dateStart"
              class="form-control"
            />
          </div>
          <div class="col">
            <label class="form-label" for="field_planType">Date de fin</label>
            <input
              type="date"
              class="form-control"
              (change)="onChangeData($event)"
              placeholder="Date de commission: Jusqu'à"
              id="dateEnd"
              formControlName="dateEnd"
              name="dateEnd"
            />
          </div>
          <div class="col">
            <button type="submit" id="search-entity" data-cy="entitySearchSaveButton" class="btn btn--primary">
              <fa-icon icon="search"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-3 d-flex align-items-end justify-content-end filter-buttons">
      <button class="btn btn--secondary btn-sm me-2" *ngIf="!isLoading" (click)="exportFile('one')">
        <fa-icon icon="save"></fa-icon> Csv
      </button>
      <button class="btn btn--secondary btn-sm me-2" *ngIf="!isLoading" (click)="exportAsXLSX()">
        <fa-icon icon="save"></fa-icon> Xlsx
      </button>
      <button class="btn btn--secondary btn-sm me-2" *ngIf="!isLoading" (click)="exportAsPDF()"><fa-icon icon="save"></fa-icon> Pdf</button>
      <button class="btn btn--secondary me-2" (click)="filterForm.reset(); loadPage(1, true)" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span></span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commissions?.length === 0">
    <span>Aucune commission</span>
  </div>

  <div class="table-responsive" id="pdfTable" #pdfTable *ngIf="commissions && commissions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="senderMsisdn"><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="senderProfile"><span>Profil</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount"><span>Montant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="calculatedAt"><span>Date du calcul</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="serviceType"><span>Opération</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commissionPaymentStatus"><span>Status du paiement</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commission of commissions; trackBy: trackId" data-cy="entityTable">
          <td>{{ commission.senderMsisdn }}</td>
          <td>{{ commission.senderProfile }}</td>
          <td>{{ commission.amount | currency: 'XOF' }}</td>
          <td>{{ commission.calculatedAt | formatMediumDatetime }}</td>
          <td>{{ commission.serviceType }}</td>
          <td>{{ commission.commissionPaymentStatus }}</td>
          <td class="text-end">
            <div>
              <button
                type="submit"
                [routerLink]="['/commission', commission.id, 'view']"
                class="btn btn--primary btn-sm"
                data-cy="entityDetailsButton"
                disabled
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commission', commission.id, 'edit']"
                class="btn btn--secondary btn-sm"
                data-cy="entityEditButton"
                disabled
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commissions && commissions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
