<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="p-4">
  <div id="page-heading" class="d-flex justify-content-between align-items-center">
    <h2 data-cy="RoleHeading">
      <span>Liste des rôles</span>
    </h2>
    <div>
      <button class="btn btn--secondary me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span></span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn--primary jh-create-entity create-role"
        [routerLink]="['/role/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau rôle</span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="roles?.length === 0">
    <span>Aucun rôle</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="roles && roles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="name"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Crée par</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Date de création</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Dernière modification</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; trackBy: trackId" data-cy="entityTable">
          <td>{{ role.name }}</td>
          <td>{{ role.description }}</td>
          <td>{{ role.createdBy }}</td>
          <td>{{ role.createdDate | formatMediumDatetime }}</td>
          <td>{{ role.lastModifiedDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div>
              <button
                type="submit"
                [routerLink]="['/role', role.id, 'view']"
                class="btn btn--primary btn-sm"
                data-cy="entityDetailsButton"
                disabled
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/role', role.id, 'edit']"
                class="btn btn--secondary btn-sm"
                data-cy="entityEditButton"
                disabled
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(role)" class="btn btn--danger btn-sm" data-cy="entityDeleteButton" disabled>
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="roles && roles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
