<div class="form__section config-line my-2" data-cy="config-line" *ngIf="configurationPlan">
  <dl class="jh-entity-details p-0 mb-0">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <dt><span>Profil</span></dt>
          <dd>
            <div *ngIf="configurationPlan.partnerProfile">
              <span>{{ configurationPlan.partnerProfile.name + ' (' + configurationPlan.partnerProfile.code + ')' }}</span>
            </div>
          </dd>
        </div>
        <div class="mb-3" *ngIf="configurationPlan.commissionTypes && configurationPlan.commissionTypes[0]?.commissionTypeType === 'TAUX'">
          <dt><span>Taux</span></dt>
          <dd>
            <div *ngIf="configurationPlan.commissionTypes[0]">
              <span>{{ configurationPlan.commissionTypes[0].tauxValue }} %</span>
            </div>
          </dd>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <dt><span>Zones</span></dt>
        <dd>
          <span *ngFor="let zone of configurationPlan.zones; let last = last">
            <span>{{ zone.name }}</span
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </div>
      <div
        class="col-md-12 mb-3"
        *ngIf="configurationPlan.commissionTypes && configurationPlan.commissionTypes[0]?.commissionTypeType === 'PALIER'"
      >
        <dt><span>Paliers</span></dt>
        <div *ngFor="let palier of configurationPlan.commissionTypes" class="row d-flex align-items-center my-1">
          <div class="col-md-8 row d-flex align-items-center mx-0">
            <div class="col-md-1 p-0 d-flex justify-content-end">
              <dt><span>De</span></dt>
            </div>
            <div class="col-md-3">
              <dd class="mb-0">
                <span>{{ palier.minValue }} </span>
              </dd>
            </div>
            <div class="col-md-1 p-0 d-flex justify-content-end">
              <dt><span>À</span></dt>
            </div>
            <div class="col-md-3">
              <dd class="mb-0">
                <span>{{ palier.isInfinity ? "l'infini" : palier.maxValue }} </span>
              </dd>
            </div>
            <div class="col-md-1 p-0 d-flex justify-content-end">
              <dt><span>Valeur</span></dt>
            </div>
            <div class="col-md-3">
              <dd class="mb-0">
                <span>{{ palier.palierValue + (palier.palierValueType == 'FIXE' ? ' XOF' : ' %') }} </span>
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dl>
</div>
