<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="zone">
      <h2 data-cy="zoneDetailsHeading"><span>Zone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ zone.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ zone.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ zone.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ zone.description }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ zone.state }}</span>
        </dd>
        <dt><span>Zone Type Id</span></dt>
        <dd>
          <span>{{ zone.zoneTypeId }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ zone.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ zone.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ zone.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ zone.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Territory</span></dt>
        <dd>
          <div *ngIf="zone.territory">
            <a [routerLink]="['/territory', zone.territory?.id, 'view']">{{ zone.territory?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/zone', zone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
