<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commissionAccount">
      <h2 data-cy="commissionAccountDetailsHeading"><span>Commission Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ commissionAccount.id }}</span>
        </dd>
        <dt><span>Calculated Balance</span></dt>
        <dd>
          <span>{{ commissionAccount.calculatedBalance }}</span>
        </dd>
        <dt><span>Paid Balance</span></dt>
        <dd>
          <span>{{ commissionAccount.paidBalance }}</span>
        </dd>
        <dt><span>Spare 1</span></dt>
        <dd>
          <span>{{ commissionAccount.spare1 }}</span>
        </dd>
        <dt><span>Spare 2</span></dt>
        <dd>
          <span>{{ commissionAccount.spare2 }}</span>
        </dd>
        <dt><span>Spare 3</span></dt>
        <dd>
          <span>{{ commissionAccount.spare3 }}</span>
        </dd>
        <dt><span>Partner</span></dt>
        <dd>
          <div *ngIf="commissionAccount.partner">
            <a [routerLink]="['/partner', commissionAccount.partner?.id, 'view']">{{ commissionAccount.partner?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/commission-account', commissionAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
