<ngx-loading [show]="isSaving" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <jhi-alert-error></jhi-alert-error>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div id="page-heading" class="form__section--title mb-2">
        <h2 id="jhi-commissioning-plan-heading" data-cy="CommissioningPlanCreateUpdateHeading">Nouveau rôle</h2>
      </div>

      <div class="row mx-0">
        <section class="form__section infos-section" data-cy="infos-section">
          <div class="row mx-0">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
                <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
                  <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength">
                    This field cannot be longer than 50 characters.
                  </small>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="field_description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  id="field_description"
                  data-cy="description"
                  formControlName="description"
                />
                <div
                  *ngIf="
                    editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.maxlength">
                    This field cannot be longer than 50 characters.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="field_authorities" class="form-label">Permissions</label>
              <select
                class="form-control"
                id="field_authorities"
                data-cy="authorities"
                multiple
                name="authorities"
                formControlName="authorities"
              >
                <option
                  [ngValue]="getSelectedAuthorityMirror(authorityMirrorOption, editForm.get('authorities')!.value)"
                  *ngFor="let authorityMirrorOption of authorityMirrorsSharedCollection; trackBy: trackAuthorityMirrorById"
                >
                  {{ authorityMirrorOption.name }}
                </option>
              </select>
            </div>
          </div>
        </section>
      </div>

      <div class="my-3 p-0">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn--outline--secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn--primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Valider</span>
        </button>
      </div>
    </form>
  </div>
</div>
