<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="serviceType">
      <h2 data-cy="serviceTypeDetailsHeading"><span>Service Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ serviceType.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ serviceType.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ serviceType.code }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ serviceType.description }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ serviceType.state }}</span>
        </dd>
        <dt><span>Is Cos Related</span></dt>
        <dd>
          <span>{{ serviceType.isCosRelated }}</span>
        </dd>
        <dt><span>Commissioning Plan Type</span></dt>
        <dd>
          <span>{{ serviceType.commissioningPlanType }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ serviceType.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ serviceType.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ serviceType.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ serviceType.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/service-type', serviceType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
