.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  //background-color: transparent;
  //border: solid 2px transparent;
  //font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
  transition: all 400ms ease-in-out;
  // border-bottom: solid 5px ;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    // background: lighten($color-secondary, 60%);
    transition: all 250ms, color 200ms;
  }

  // Modifiers will go there

  &--primary {
    $color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
    //background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
    //border: solid 1px linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
    //border-bottom: solid 5px darken($color-primary, 20%);
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-color: var(--color-secondary);
    //background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));
    //border: solid 1px linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));
    //border-bottom: solid 5px darken($color-secondary, 20%);
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(92%);
    }
  }

  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  }

  &--danger {
    color: var(--color-white);
    //border-color: var(--color-dark);
    background-color: darkorange;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  }

  &--outline {
    &--primary {
      @include outline(--color-primary);
    }

    &--secondary {
      @include outline(--color-secondary);
    }
  }
}
