.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  &__section {
    border: 1px solid var(--color-secondary);
    padding: var(--space-s);
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      h2 {
        margin: 0;
      }
    }
  }
  &__group {
    flex: 1;
    margin-bottom: var(--space-l);
  }

  &__control {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: none;
    outline: none;
    transition: box-shadow 250ms;
    background: lighten($color-secondary, 72%);
    outline: 0px none #fff !important;
    //&:focus {
    //  box-shadow: 0 0 0 2px var(--color-glint);
    //}

    &--invalid {
      border-color: darkorange;
    }
  }
  select {
    outline: none;
    border-left: 5px solid #000;
    &:active,
    &:focus {
      outline-color: red;
    }
  }
  ::selection {
    background-color: red;
    color: white;
  }
  option {
    padding: 10px;
    outline: none;
    &:checked,
    &:active,
    &:focus {
      background: darken($color-primary, 25%);
      color: #fff;
      outline: none;
    }
  }
  .grouped-control {
    display: flex;
    select {
      width: auto;
    }
  }
}

.submit-container {
  display: flex;
  gap: 15px;
}
.chk-container {
  display: flex;
  position: relative;
  gap: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    display: block;
    height: 18px;
    width: 18px;
    background-color: #eee;
    &::after {
      content: '';
      position: absolute;
      display: none;
    }
    &:after {
      left: 7px;
      top: 7px;
      width: 5px;
      height: 8px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  &:hover input[disabled] ~ .checkmark {
    background-color: #eee;
  }
  input:checked ~ .checkmark {
    background-color: var(--color-primary);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}
