
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--light);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: var(--space-xs);
  }
  
  *::-webkit-scrollbar-track {
    background: var(--light);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 20px;
    border: 3px solid var(--light);
  }
