.sidebar-container{
    .logo{
        margin-bottom: 30px;
    }
    .menu-section-title{
        color: var(--color-primary);

    }
    nav.navigation{
        .menu-item{
            padding: var(--space-xxs) var(--space-m);
            color: #fff;;
            display: block;
            &:hover{
                background-color: darken($color-primary, 5%);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}