<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-transaction-operation-heading" data-cy="TransactionOperationCreateUpdateHeading">
        Create or edit a Transaction Operation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_subsMsisdn">Subs Msisdn</label>
          <input
            type="text"
            class="form-control"
            name="subsMsisdn"
            id="field_subsMsisdn"
            data-cy="subsMsisdn"
            formControlName="subsMsisdn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_agentMsisdn">Agent Msisdn</label>
          <input
            type="text"
            class="form-control"
            name="agentMsisdn"
            id="field_agentMsisdn"
            data-cy="agentMsisdn"
            formControlName="agentMsisdn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_typeTransaction">Type Transaction</label>
          <input
            type="text"
            class="form-control"
            name="typeTransaction"
            id="field_typeTransaction"
            data-cy="typeTransaction"
            formControlName="typeTransaction"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionStatus">Transaction Status</label>
          <input
            type="text"
            class="form-control"
            name="transactionStatus"
            id="field_transactionStatus"
            data-cy="transactionStatus"
            formControlName="transactionStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_senderZone">Sender Zone</label>
          <input
            type="text"
            class="form-control"
            name="senderZone"
            id="field_senderZone"
            data-cy="senderZone"
            formControlName="senderZone"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_senderProfile">Sender Profile</label>
          <input
            type="text"
            class="form-control"
            name="senderProfile"
            id="field_senderProfile"
            data-cy="senderProfile"
            formControlName="senderProfile"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_codeTerritory">Code Territory</label>
          <input
            type="text"
            class="form-control"
            name="codeTerritory"
            id="field_codeTerritory"
            data-cy="codeTerritory"
            formControlName="codeTerritory"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_subType">Sub Type</label>
          <input type="text" class="form-control" name="subType" id="field_subType" data-cy="subType" formControlName="subType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_operationShortDate">Operation Short Date</label>
          <div class="input-group">
            <input
              id="field_operationShortDate"
              data-cy="operationShortDate"
              type="text"
              class="form-control"
              name="operationShortDate"
              ngbDatepicker
              #operationShortDateDp="ngbDatepicker"
              formControlName="operationShortDate"
            />
            <button type="button" class="btn btn-secondary" (click)="operationShortDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_operationDate">Operation Date</label>
          <div class="d-flex">
            <input
              id="field_operationDate"
              data-cy="operationDate"
              type="datetime-local"
              class="form-control"
              name="operationDate"
              formControlName="operationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isFraud">Is Fraud</label>
          <input type="checkbox" class="form-check" name="isFraud" id="field_isFraud" data-cy="isFraud" formControlName="isFraud" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_taggedAt">Tagged At</label>
          <div class="d-flex">
            <input
              id="field_taggedAt"
              data-cy="taggedAt"
              type="datetime-local"
              class="form-control"
              name="taggedAt"
              formControlName="taggedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fraudSource">Fraud Source</label>
          <input
            type="text"
            class="form-control"
            name="fraudSource"
            id="field_fraudSource"
            data-cy="fraudSource"
            formControlName="fraudSource"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_falsePositiveDetectedAt">False Positive Detected At</label>
          <div class="d-flex">
            <input
              id="field_falsePositiveDetectedAt"
              data-cy="falsePositiveDetectedAt"
              type="datetime-local"
              class="form-control"
              name="falsePositiveDetectedAt"
              formControlName="falsePositiveDetectedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tid">Tid</label>
          <input type="text" class="form-control" name="tid" id="field_tid" data-cy="tid" formControlName="tid" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_parentMsisdn">Parent Msisdn</label>
          <input
            type="text"
            class="form-control"
            name="parentMsisdn"
            id="field_parentMsisdn"
            data-cy="parentMsisdn"
            formControlName="parentMsisdn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fctDt">Fct Dt</label>
          <input type="text" class="form-control" name="fctDt" id="field_fctDt" data-cy="fctDt" formControlName="fctDt" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_parentId">Parent Id</label>
          <input type="text" class="form-control" name="parentId" id="field_parentId" data-cy="parentId" formControlName="parentId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_canceledAt">Canceled At</label>
          <div class="d-flex">
            <input
              id="field_canceledAt"
              data-cy="canceledAt"
              type="datetime-local"
              class="form-control"
              name="canceledAt"
              formControlName="canceledAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_canceledId">Canceled Id</label>
          <input
            type="text"
            class="form-control"
            name="canceledId"
            id="field_canceledId"
            data-cy="canceledId"
            formControlName="canceledId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_productId">Product Id</label>
          <input type="text" class="form-control" name="productId" id="field_productId" data-cy="productId" formControlName="productId" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
