<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<div class="custom-marquee" *ngIf="account !== null">
  <div>
    <!--    <span>If you are on a shared PC, please remember to clear the browser’s cache and history. Thanks</span>-->
    <!--    <span>If you are on a shared PC, please remember to clear the browser’s cache and history. Thanks</span>-->
    <span>Si vous êtes sur un PC partagé, veuillez éffacer l'historique et le cache du navigateur après déconnexion.</span>
    <span>Si vous êtes sur un PC partagé, veuillez éffacer l'historique et le cache du navigateur après déconnexion.</span>
  </div>
</div>
<div class="main-body">
  <router-outlet name="navbar"></router-outlet>
  <router-outlet></router-outlet>
  <jhi-footer *ngIf="account !== null"></jhi-footer>
</div>
