@mixin media($query) {
  @if $query == tabletAndUp {
    @media (min-width: 50rem) {
      @content;
    }
  }
}

@mixin outline($color) {
  color: var($color);
  border: solid 1px var($color);
  background: transparent;
  //border-bottom: solid 5px var($color);

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: var(--color-white);
    filter: saturate(1.4) brightness(115%);
    background-image: linear-gradient(to right, var($color), var($color));
  }
}
