<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-period-heading" data-cy="PeriodCreateUpdateHeading">Create or edit a Period</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_monthDayFrom">Month Day From</label>
          <input
            type="number"
            class="form-control"
            name="monthDayFrom"
            id="field_monthDayFrom"
            data-cy="monthDayFrom"
            formControlName="monthDayFrom"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_monthDayTo">Month Day To</label>
          <input
            type="number"
            class="form-control"
            name="monthDayTo"
            id="field_monthDayTo"
            data-cy="monthDayTo"
            formControlName="monthDayTo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_weekDayFrom">Week Day From</label>
          <input
            type="number"
            class="form-control"
            name="weekDayFrom"
            id="field_weekDayFrom"
            data-cy="weekDayFrom"
            formControlName="weekDayFrom"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_weekDayTo">Week Day To</label>
          <input type="number" class="form-control" name="weekDayTo" id="field_weekDayTo" data-cy="weekDayTo" formControlName="weekDayTo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dayHourFrom">Day Hour From</label>
          <input
            type="number"
            class="form-control"
            name="dayHourFrom"
            id="field_dayHourFrom"
            data-cy="dayHourFrom"
            formControlName="dayHourFrom"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dayHourTo">Day Hour To</label>
          <input type="number" class="form-control" name="dayHourTo" id="field_dayHourTo" data-cy="dayHourTo" formControlName="dayHourTo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isPreviousDayHourFrom">Is Previous Day Hour From</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPreviousDayHourFrom"
            id="field_isPreviousDayHourFrom"
            data-cy="isPreviousDayHourFrom"
            formControlName="isPreviousDayHourFrom"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isPreviousDayHourTo">Is Previous Day Hour To</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPreviousDayHourTo"
            id="field_isPreviousDayHourTo"
            data-cy="isPreviousDayHourTo"
            formControlName="isPreviousDayHourTo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isPreviousMonthDayFrom">Is Previous Month Day From</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPreviousMonthDayFrom"
            id="field_isPreviousMonthDayFrom"
            data-cy="isPreviousMonthDayFrom"
            formControlName="isPreviousMonthDayFrom"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isPreviousMonthDayTo">Is Previous Month Day To</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPreviousMonthDayTo"
            id="field_isPreviousMonthDayTo"
            data-cy="isPreviousMonthDayTo"
            formControlName="isPreviousMonthDayTo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isCompleteDay">Is Complete Day</label>
          <input
            type="checkbox"
            class="form-check"
            name="isCompleteDay"
            id="field_isCompleteDay"
            data-cy="isCompleteDay"
            formControlName="isCompleteDay"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isCompleteMonth">Is Complete Month</label>
          <input
            type="checkbox"
            class="form-check"
            name="isCompleteMonth"
            id="field_isCompleteMonth"
            data-cy="isCompleteMonth"
            formControlName="isCompleteMonth"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_periodType">Period Type</label>
          <select class="form-control" name="periodType" formControlName="periodType" id="field_periodType" data-cy="periodType">
            <option [ngValue]="null"></option>
            <option *ngFor="let frequencyType of frequencyTypeValues" [value]="frequencyType">frequencyType</option>
          </select>
          <div *ngIf="editForm.get('periodType')!.invalid && (editForm.get('periodType')!.dirty || editForm.get('periodType')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('periodType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_operationType">Operation Type</label>
          <select
            class="form-control"
            name="operationType"
            formControlName="operationType"
            id="field_operationType"
            data-cy="operationType"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let operationType of operationTypeValues" [value]="operationType">operationType</option>
          </select>
          <div
            *ngIf="
              editForm.get('operationType')!.invalid && (editForm.get('operationType')!.dirty || editForm.get('operationType')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('operationType')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdBy')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('createdBy')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('createdDate')?.errors?.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          <div
            *ngIf="
              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('lastModifiedBy')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_daysOrDatesOfOccurrence">Days Or Dates Of Occurrence</label>
          <input
            type="text"
            class="form-control"
            name="daysOrDatesOfOccurrence"
            id="field_daysOrDatesOfOccurrence"
            data-cy="daysOrDatesOfOccurrence"
            formControlName="daysOrDatesOfOccurrence"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare1">Spare 1</label>
          <input type="text" class="form-control" name="spare1" id="field_spare1" data-cy="spare1" formControlName="spare1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare2">Spare 2</label>
          <input type="text" class="form-control" name="spare2" id="field_spare2" data-cy="spare2" formControlName="spare2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare3">Spare 3</label>
          <input type="text" class="form-control" name="spare3" id="field_spare3" data-cy="spare3" formControlName="spare3" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
