<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="frequency">
      <h2 data-cy="frequencyDetailsHeading"><span>Frequency</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ frequency.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ frequency.name }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ frequency.type }}</span>
        </dd>
        <dt><span>Operation Type</span></dt>
        <dd>
          <span>{{ frequency.operationType }}</span>
        </dd>
        <dt><span>Execution Time</span></dt>
        <dd>
          <span>{{ frequency.executionTime }}</span>
        </dd>
        <dt><span>Execution Week Day</span></dt>
        <dd>
          <span>{{ frequency.executionWeekDay }}</span>
        </dd>
        <dt><span>Execution Month Day</span></dt>
        <dd>
          <span>{{ frequency.executionMonthDay }}</span>
        </dd>
        <dt><span>Days After</span></dt>
        <dd>
          <span>{{ frequency.daysAfter }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ frequency.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ frequency.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ frequency.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ frequency.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Cycle</span></dt>
        <dd>
          <span>{{ frequency.cycle }}</span>
        </dd>
        <dt><span>Period Of Occurrence</span></dt>
        <dd>
          <span>{{ frequency.periodOfOccurrence }}</span>
        </dd>
        <dt><span>Number Of Cycle</span></dt>
        <dd>
          <span>{{ frequency.numberOfCycle }}</span>
        </dd>
        <dt><span>Occurrence By Period</span></dt>
        <dd>
          <span>{{ frequency.occurrenceByPeriod }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/frequency', frequency.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
