<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="p-4">
  <div id="page-heading" class="d-flex justify-content-between align-items-center">
    <h2 data-cy="userManagementPageHeading">
      <span>Liste des utilisateurs</span>
    </h2>
    <div>
      <button class="btn btn--secondary me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span></span>
      </button>
      <button class="btn btn--primary me-2 jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span>Nouvel utilisateur</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn--outline--secondary jh-create-entity create-role"
        [routerLink]="['/role/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau rôle </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="users">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <th scope="col" jhiSortBy="login"><span>Nom d'utilisateur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
          <!--          <th scope="col"><span>Profiles</span></th>-->
          <th scope="col" jhiSortBy="createdDate"><span>Date de création</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy"><span>Crée par</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Dernière modification</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users; trackBy: trackIdentity">
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated">Désactivé</button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
            >
              Activé
            </button>
          </td>
          <!--          <td>-->
          <!--            <div *ngFor="let authority of user.authorities">-->
          <!--              <span class="badge bg-info">{{ authority }}</span>-->
          <!--            </div>-->
          <!--          </td>-->
          <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td>{{ user.createdBy }}</td>
          <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td class="text-end">
            <div>
              <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn--primary btn-sm" disabled>
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['./', user.login, 'edit']"
                queryParamsHandling="merge"
                class="btn btn--secondary btn-sm"
                disabled
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" class="btn btn--outline--secondary btn-sm" (click)="deactivateUser(user)" disabled>
                <fa-icon icon="ban"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn--danger btn-sm"
                [disabled]="!currentAccount || currentAccount.login === user.login"
                disabled
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
