<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div>
  <h2 id="page-heading" data-cy="BlacklistedHeading">
    <span>Blacklisteds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-blacklisted"
        [routerLink]="['/blacklisted/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Blacklisted </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="blacklisteds?.length === 0">
    <span>No blacklisteds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="blacklisteds && blacklisteds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="reason"><span>Reason</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="blocked"><span>Blocked</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commissioningPlan.id"><span>Commissioning Plan</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="partner.id"><span>Partner</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blacklisted of blacklisteds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/blacklisted', blacklisted.id, 'view']">{{ blacklisted.id }}</a>
          </td>
          <td>{{ blacklisted.reason }}</td>
          <td>{{ blacklisted.blocked }}</td>
          <td>{{ blacklisted.createdBy }}</td>
          <td>{{ blacklisted.createdDate | formatMediumDatetime }}</td>
          <td>{{ blacklisted.lastModifiedBy }}</td>
          <td>{{ blacklisted.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="blacklisted.commissioningPlan">
              <a [routerLink]="['/commissioning-plan', blacklisted.commissioningPlan?.id, 'view']">{{
                blacklisted.commissioningPlan?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="blacklisted.partner">
              <a [routerLink]="['/partner', blacklisted.partner?.id, 'view']">{{ blacklisted.partner?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/blacklisted', blacklisted.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/blacklisted', blacklisted.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(blacklisted)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="blacklisteds && blacklisteds.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
