<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="territory">
      <h2 data-cy="territoryDetailsHeading"><span>Territory</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ territory.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ territory.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ territory.description }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ territory.state }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ territory.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ territory.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ territory.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ territory.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/territory', territory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
