<div>
  <h2 id="page-heading" data-cy="PeriodHeading">
    <span>Periods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-period"
        [routerLink]="['/period/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Period </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="periods?.length === 0">
    <span>No periods found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="periods && periods.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="monthDayFrom"><span>Month Day From</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="monthDayTo"><span>Month Day To</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="weekDayFrom"><span>Week Day From</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="weekDayTo"><span>Week Day To</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dayHourFrom"><span>Day Hour From</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dayHourTo"><span>Day Hour To</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isPreviousDayHourFrom"><span>Is Previous Day Hour From</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isPreviousDayHourTo"><span>Is Previous Day Hour To</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isPreviousMonthDayFrom"><span>Is Previous Month Day From</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isPreviousMonthDayTo"><span>Is Previous Month Day To</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isCompleteDay"><span>Is Complete Day</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isCompleteMonth"><span>Is Complete Month</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="periodType"><span>Period Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="operationType"><span>Operation Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="daysOrDatesOfOccurrence"><span>Days Or Dates Of Occurrence</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let period of periods; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/period', period.id, 'view']">{{ period.id }}</a>
          </td>
          <td>{{ period.monthDayFrom }}</td>
          <td>{{ period.monthDayTo }}</td>
          <td>{{ period.weekDayFrom }}</td>
          <td>{{ period.weekDayTo }}</td>
          <td>{{ period.dayHourFrom }}</td>
          <td>{{ period.dayHourTo }}</td>
          <td>{{ period.isPreviousDayHourFrom }}</td>
          <td>{{ period.isPreviousDayHourTo }}</td>
          <td>{{ period.isPreviousMonthDayFrom }}</td>
          <td>{{ period.isPreviousMonthDayTo }}</td>
          <td>{{ period.isCompleteDay }}</td>
          <td>{{ period.isCompleteMonth }}</td>
          <td>{{ period.periodType }}</td>
          <td>{{ period.operationType }}</td>
          <td>{{ period.createdBy }}</td>
          <td>{{ period.createdDate | formatMediumDatetime }}</td>
          <td>{{ period.lastModifiedBy }}</td>
          <td>{{ period.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ period.daysOrDatesOfOccurrence }}</td>
          <td>{{ period.spare1 }}</td>
          <td>{{ period.spare2 }}</td>
          <td>{{ period.spare3 }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/period', period.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/period', period.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(period)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="periods && periods.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
