<div>
  <h2 id="page-heading" data-cy="PartnerProfileHeading">
    <span>Partner Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-partner-profile"
        [routerLink]="['/partner-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Partner Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="partnerProfiles?.length === 0">
    <span>No partnerProfiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="partnerProfiles && partnerProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="level"><span>Level</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parentPartnerProfileId"><span>Parent Partner Profile Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="canHaveMultipleZones"><span>Can Have Multiple Zones</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="zoneThreshold"><span>Zone Threshold</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="simBackupThreshold"><span>Sim Backup Threshold</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="canDoProfileAssignment"><span>Can Do Profile Assignment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partnerProfile of partnerProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/partner-profile', partnerProfile.id, 'view']">{{ partnerProfile.id }}</a>
          </td>
          <td>{{ partnerProfile.code }}</td>
          <td>{{ partnerProfile.name }}</td>
          <td>{{ partnerProfile.description }}</td>
          <td>{{ partnerProfile.level }}</td>
          <td>{{ partnerProfile.parentPartnerProfileId }}</td>
          <td>{{ partnerProfile.createdBy }}</td>
          <td>{{ partnerProfile.createdDate | formatMediumDatetime }}</td>
          <td>{{ partnerProfile.lastModifiedBy }}</td>
          <td>{{ partnerProfile.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ partnerProfile.canHaveMultipleZones }}</td>
          <td>{{ partnerProfile.zoneThreshold }}</td>
          <td>{{ partnerProfile.simBackupThreshold }}</td>
          <td>{{ partnerProfile.canDoProfileAssignment }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/partner-profile', partnerProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/partner-profile', partnerProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(partnerProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="partnerProfiles && partnerProfiles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
