<nav data-cy="navbar" class="navbar navbar-expand-md white-bg" *ngIf="account !== null">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/home" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <!--      <span class="navbar-title">Commissioning</span>-->
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <!--        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
        <!--          <a class="nav-link" routerLink="/home" (click)="collapseNavbar()">-->
        <!--            <span>-->
        <!--              <fa-icon icon="home"></fa-icon>-->
        <!--              <span>Home</span>-->
        <!--            </span>-->
        <!--          </a>-->
        <!--        </li>-->
        <li
          *jhiHasAnyAuthority="['CREATE_PLAN', 'UPDATE_PLAN', 'LIST_PLAN', 'READ_PLAN']"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="commissioning-plan-menu"
            data-cy="commissioningPlanMenu"
          >
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Plans de commission</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li *jhiHasAnyAuthority="['LIST_PLAN', 'READ_PLAN']">
              <a
                class="dropdown-item"
                routerLink="/commissioning-plan"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                <span>Liste des plans</span>
              </a>
            </li>
            <li *jhiHasAnyAuthority="'CREATE_PLAN'">
              <a
                class="dropdown-item"
                routerLink="/commissioning-plan/new"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
                <span>Nouveau plan</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/payment/new"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Paiement</span>
              </a>
            </li>
          </ul>
        </li>
        <!--        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
        <!--          <a class="nav-link" routerLink="/commissioning-plan/new" (click)="collapseNavbar()">-->
        <!--            <span>-->
        <!--              <fa-icon icon="th-list"></fa-icon>-->
        <!--              <span>Nouveau Plan</span>-->
        <!--            </span>-->
        <!--          </a>-->
        <!--        </li>-->
        <li *jhiHasAnyAuthority="'CREATE_FREQUENCY'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/frequency/new" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="gears"></fa-icon>
              <span>Nouvelle fréquence</span>
            </span>
          </a>
        </li>
        <!--        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
        <!--          <a class="nav-link" routerLink="/blacklisted/new" (click)="collapseNavbar()">-->
        <!--            <span>-->
        <!--              <fa-icon icon="ban"></fa-icon>-->
        <!--              <span>Blacklist</span>-->
        <!--            </span>-->
        <!--          </a>-->
        <!--        </li>-->
        <li
          *jhiHasAnyAuthority="['CREATE_BLACKLIST', 'DELETE_BLACKLIST', 'LIST_BLACKLIST', 'READ_BLACKLIST', 'UPDATE_BLACKLIST']"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="blacklist-menu" data-cy="blacklistMenu">
            <span>
              <fa-icon icon="ban"></fa-icon>
              <span>Blacklist</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li *jhiHasAnyAuthority="['CREATE_BLACKLIST']">
              <a
                class="dropdown-item"
                routerLink="/blacklisted/block-one-partner"
                [state]="{ blockingList: false, unblocking: false }"
                routerLinkActive="active"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                <span>Bloquer un partenaire</span>
              </a>
            </li>
            <li *jhiHasAnyAuthority="['CREATE_BLACKLIST']">
              <a
                class="dropdown-item"
                routerLink="/blacklisted/block-partner-list"
                [state]="{ blockingList: true, unblocking: false }"
                routerLinkActive="active"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>Bloquer une liste</span>
              </a>
            </li>
            <li *jhiHasAnyAuthority="['CREATE_BLACKLIST']">
              <a
                class="dropdown-item"
                routerLink="/blacklisted/unblock-one-partner"
                [state]="{ blockingList: false, unblocking: true }"
                routerLinkActive="active"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                <span>Débloquer un partenaire</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <!--        <li-->
        <!--          *ngSwitchCase="true"-->
        <!--          ngbDropdown-->
        <!--          class="nav-item dropdown pointer"-->
        <!--          display="dynamic"-->
        <!--          routerLinkActive="active"-->
        <!--          [routerLinkActiveOptions]="{ exact: true }"-->
        <!--        >-->
        <!--          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">-->
        <!--            <span>-->
        <!--              <fa-icon icon="gears"></fa-icon>-->
        <!--              <span>Paramétrage</span>-->
        <!--            </span>-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="territory"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Territory</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="zone"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Zone</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="partner"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Partner</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="commissioning-plan"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Commissioning Plan</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="service-type"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Service Type</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="configuration-plan"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Configuration Plan</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="partner-profile"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Partner Profile</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="place"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Place</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="commission-type"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Commission Type</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="taux"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Taux</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="palier"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Palier</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="frequency"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Fréquences</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="commission"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Commission</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="commission-account"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Commission Account</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a-->
        <!--                class="dropdown-item"-->
        <!--                routerLink="transaction-operation"-->
        <!--                routerLinkActive="active"-->
        <!--                [routerLinkActiveOptions]="{ exact: true }"-->
        <!--                (click)="collapseNavbar()"-->
        <!--              >-->
        <!--                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--                <span>Transaction Operation</span>-->
        <!--              </a>-->
        <!--            </li>-->
        <!--        <li>-->
        <!--          <a-->
        <!--            class="dropdown-item"-->
        <!--            routerLink="period"-->
        <!--            routerLinkActive="active"-->
        <!--            [routerLinkActiveOptions]="{ exact: true }"-->
        <!--            (click)="collapseNavbar()"-->
        <!--          >-->
        <!--            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--            <span>Period</span>-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a-->
        <!--            class="dropdown-item"-->
        <!--            routerLink="blacklisted"-->
        <!--            routerLinkActive="active"-->
        <!--            [routerLinkActiveOptions]="{ exact: true }"-->
        <!--            (click)="collapseNavbar()"-->
        <!--          >-->
        <!--            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--            <span>Blacklisted</span>-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a-->
        <!--            class="dropdown-item"-->
        <!--            routerLink="payment"-->
        <!--            routerLinkActive="active"-->
        <!--            [routerLinkActiveOptions]="{ exact: true }"-->
        <!--            (click)="collapseNavbar()"-->
        <!--          >-->
        <!--            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
        <!--            <span>Payment</span>-->
        <!--          </a>-->
        <!--        </li>-->
        <!--            &lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;-->
        <!--          </ul>-->
        <!--        </li>-->
        <li
          *jhiHasAnyAuthority="[
            'CREATE_ROLE',
            'UPDATE_ROLE',
            'LIST_ROLE',
            'READ_ROLE',
            'DELETE_ROLE',
            'CREATE_USER',
            'UPDATE_USER',
            'LIST_USER',
            'READ_USER',
            'DELETE_USER'
          ]"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span>Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li *jhiHasAnyAuthority="['CREATE_ROLE', 'UPDATE_ROLE', 'LIST_ROLE', 'READ_ROLE', 'DELETE_ROLE']">
              <a class="dropdown-item" routerLink="role" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                <span>Role</span>
              </a>
            </li>
            <li *jhiHasAnyAuthority="['CREATE_USER', 'UPDATE_USER', 'LIST_USER', 'READ_USER', 'DELETE_USER']">
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span>API</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li *ngIf="!inProduction">
              <a class="dropdown-item" href="./h2-console/" target="_tab" (click)="collapseNavbar()">
                <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
                <span>Database</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span>Compte</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <!--            <li *ngSwitchCase="true">-->
            <!--              <a-->
            <!--                class="dropdown-item"-->
            <!--                routerLink="account/settings"-->
            <!--                routerLinkActive="active"-->
            <!--                (click)="collapseNavbar()"-->
            <!--                data-cy="settings"-->
            <!--              >-->
            <!--                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>-->
            <!--                <span>Settings</span>-->
            <!--              </a>-->
            <!--            </li>-->
            <!--            <li *ngSwitchCase="true">-->
            <!--              <a-->
            <!--                class="dropdown-item"-->
            <!--                routerLink="account/password"-->
            <!--                routerLinkActive="active"-->
            <!--                (click)="collapseNavbar()"-->
            <!--                data-cy="passwordItem"-->
            <!--              >-->
            <!--                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>-->
            <!--                <span>Password</span>-->
            <!--              </a>-->
            <!--            </li>-->
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span>Se déconnecter</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span>Sign in</span>
              </a>
            </li>
            <!--            <li *ngSwitchCase="false">-->
            <!--              <a-->
            <!--                class="dropdown-item"-->
            <!--                routerLink="account/register"-->
            <!--                routerLinkActive="active"-->
            <!--                (click)="collapseNavbar()"-->
            <!--                data-cy="register"-->
            <!--              >-->
            <!--                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>-->
            <!--                <span>Register</span>-->
            <!--              </a>-->
            <!--            </li>-->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
