@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 62px;
  padding: 0.2rem 1rem;
  a.nav-link,
  .navbar-title,
  .navbar-version {
    color: var(--color-secondary);
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-cms-small.jpg') no-repeat center center;
  background-size: contain;
}

.custom-bg-dark {
  background-color: var(--color-secondary);
}

.white-bg {
  box-shadow: 5px 0 15px 0 #cc0000;
  background: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 0.5px #cc0000;
  color: var(--color-secondary);
}
