<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div id="page-heading" class="form__section--title mb-2">
        <h2 id="jhi-commissioning-plan-heading" data-cy="CommissioningPlanCreateUpdateHeading">Payer ou Recalculer</h2>
      </div>
      <div class="row">
        <div *ngIf="canSearchCommissions">
          <section class="form__section infos-section" data-cy="infos-section">
            <div class="col-md-6" *ngIf="commissioningPlans!.length > 0">
              <div class="mb-3">
                <label class="form-label" for="field_commissioningPlan">Plan de commission</label>
                <select
                  class="form-control"
                  name="commissioningPlan"
                  formControlName="commissioningPlan"
                  id="field_commissioningPlan"
                  data-cy="commissioningPlan"
                  (change)="fetchCommissions()"
                >
                  <option [ngValue]="null"></option>
                  <option *ngFor="let commissioningPlan of commissioningPlans" [ngValue]="commissioningPlan">
                    {{ commissioningPlan.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    editForm.get('commissioningPlan')!.invalid &&
                    (editForm.get('commissioningPlan')!.dirty || editForm.get('commissioningPlan')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="editForm.get('commissioningPlan')?.errors?.required">
                    This field is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="commissioningPlans!.length == 0">
              <span>Aucun plan de commission à payer.</span>
            </div>
          </section>
        </div>
        <div *ngIf="canShowCalendar">
          <section class="form__section infos-section" data-cy="infos-section">
            <div class="mb-3">
              <label class="form-label">Jours à re-calculer</label><br />
              <mat-form-field>
                <ngx-multiple-dates
                  [matDatepicker]="pickerMinMax"
                  color="accent"
                  [min]="min"
                  [max]="max"
                  placeholder=""
                  name="excludedDates"
                  [(ngModel)]="dates"
                  [ngModelOptions]="{ standalone: true }"
                >
                </ngx-multiple-dates>
                <mat-datepicker-toggle matPrefix [for]="pickerMinMax"></mat-datepicker-toggle>
                <mat-datepicker #pickerMinMax></mat-datepicker>
              </mat-form-field>
            </div>
          </section>
        </div>
      </div>

      <div class="row my-3 p-0">
        <div class="col-md-4">
          <button
            type="button"
            id="cancel-save"
            data-cy="entityCreateCancelButton"
            class="btn btn--outline--secondary"
            *ngIf="canPay"
            (click)="previousState()"
          >
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
          </button>
          <button
            type="button"
            id="back"
            data-cy="entityCreateCancelButton"
            class="btn btn--outline--secondary"
            *ngIf="!canPay"
            (click)="canShowCalendar ? toggleShowCalendar() : (canPay = !canPay); fetchCommissions()"
          >
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
          </button>
          <button
            type="button"
            id="recalculate"
            data-cy="entityCreateCancelButton"
            class="btn btn--outline--primary"
            *ngIf="canRecalculate && !canShowCalendar"
            (click)="toggleShowCalendar()"
          >
            <fa-icon icon="gears"></fa-icon>&nbsp;<span>Re-calculer</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            *ngIf="canSearchCommissions"
            [disabled]="!canShowSearchResult || !canPay || isLoading || !totalAmount || totalAmount > operationsBalance"
            (click)="performPayment()"
            class="btn btn--primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Payer</span>
          </button>
          <button
            type="submit"
            id="recalculate-validation"
            data-cy="entityCreateSaveButton"
            [disabled]="dates!.length == 0"
            class="btn btn--primary"
            *ngIf="canShowCalendar"
            (click)="recalculate()"
          >
            <fa-icon icon="gears"></fa-icon>&nbsp;<span>Valider</span>
          </button>
        </div>
        <div *ngIf="canPay && commissionBulk && commissionBulk.length > 0" class="col-md-8 d-flex justify-content-end align-items-center">
          <div class="d-flex align-items-center justify-content-center flex-column me-1">
            <span class="balance-text">Montant total à payer : </span>
            <span class="balance-subText">(profils embarqués : {{ selectedProfiles ? selectedProfiles.toString() : '--' }})</span>
          </div>
          <span class="balance-amount total">{{ totalAmount ? (totalAmount | currency: 'XOF') : '--' }}</span>
          <div class="d-flex align-items-center justify-content-center flex-column ms-5 me-3">
            <span class="balance-text">Solde du compte des opérations : </span>
            <span class="balance-subText"
              >(dernière mise à jour le : {{ lastBalanceUpdate ? (lastBalanceUpdate | formatMediumDatetime) : '--' }})</span
            >
          </div>
          <span [ngClass]="totalAmount <= operationsBalance ? 'ok' : 'nok'" class="balance-amount">{{
            operationsBalance ? (operationsBalance | currency: 'XOF') : '--'
          }}</span>
          <button class="btn btn--secondary ms-2" (click)="getOperationsBalance(false)" [disabled]="isLoadingBalance">
            <fa-icon icon="sync" [spin]="isLoadingBalance"></fa-icon>
            <span></span>
          </button>
        </div>
      </div>
      <div class="row my-3 p-0" *ngIf="canPay && commissionBulk && commissionBulk.length > 0">
        <div class="col-md-12 d-flex align-items-center inline-checkbox">
          <span class="balance-text me-5">Décocher les profils à ignorer : </span>
          <div *ngFor="let profile of allProfiles" class="check-list-item">
            <label class="chk-container me-3">
              <input type="checkbox" (change)="toggleProfile(profile)" [checked]="true" />
              <span class="checkmark"></span>
              {{ profile }}
            </label>
          </div>
        </div>
      </div>
    </form>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commissionBulk == null || commissionBulk?.length === 0">
      <span>Aucune commission</span>
    </div>
    <div *ngIf="canShowSearchResult && commissionBulk && commissionBulk.length > 0">
      <div class="table-responsive">
        <table class="table" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col"><span>Msisdn</span></th>
              <th scope="col"><span>Profil</span></th>
              <th scope="col"><span>Montant </span></th>
              <th scope="col"><span>Dates des calculs</span></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let commissionBulk of commissionBulk"
              data-cy="entityTable"
              [class]="commissionBulk.isSelected ? '' : 'unselected-row'"
            >
              <td>{{ commissionBulk.partnerMsisdn }}</td>
              <td>{{ commissionBulk.partnerProfile }}</td>
              <td>{{ commissionBulk.totalAmount | currency: 'XOF' }}</td>
              <td>
                <span *ngFor="let commission of commissionBulk.commissions; first as isFirst; last as isLast"
                  >{{ isFirst ? 'Du ' + (Dayjs(commission.calculationDate) | formatMediumDate) : '' }}
                  {{ isLast ? ' au ' + (Dayjs(commission.calculationDate) | formatMediumDate) : '' }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="commissionBulk && commissionBulk.length > 0">
        <div class="d-flex justify-content-center">
          <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="d-flex justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="fetchCommissions($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>

    <div class="table-responsive" *ngIf="!canShowSearchResult && !isLoading && partnersPayments && partnersPayments.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span>Msisdn</span></th>
            <th scope="col"><span>Profil</span></th>
            <th scope="col"><span>Montant</span></th>
            <th scope="col"><span>Status du paiement</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of partnersPayments" data-cy="entityTable">
            <td>{{ result.partnerMsisdn }}</td>
            <td>{{ result.partnerProfile }}</td>
            <td>{{ result.totalAmount | currency: 'XOF' }}</td>
            <td><div [class]="result.paymentResult?.status === 'SUCCESS' ? 'successfulPayment' : 'failedPayment'"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
