<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="partnerProfile">
      <h2 data-cy="partnerProfileDetailsHeading"><span>Partner Profile</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ partnerProfile.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ partnerProfile.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ partnerProfile.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ partnerProfile.description }}</span>
        </dd>
        <dt><span>Level</span></dt>
        <dd>
          <span>{{ partnerProfile.level }}</span>
        </dd>
        <dt><span>Parent Partner Profile Id</span></dt>
        <dd>
          <span>{{ partnerProfile.parentPartnerProfileId }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ partnerProfile.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ partnerProfile.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ partnerProfile.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ partnerProfile.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Can Have Multiple Zones</span></dt>
        <dd>
          <span>{{ partnerProfile.canHaveMultipleZones }}</span>
        </dd>
        <dt><span>Zone Threshold</span></dt>
        <dd>
          <span>{{ partnerProfile.zoneThreshold }}</span>
        </dd>
        <dt><span>Sim Backup Threshold</span></dt>
        <dd>
          <span>{{ partnerProfile.simBackupThreshold }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/partner-profile', partnerProfile.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
