<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="container-fluid login-bg row">
  <div class="col-md-4 left-side d-flex justify-content-center flex-column align-items-center">
    <div class="logo">
      <img src="../../content/images/logo-cms.jpg" alt="Logo CMS" />
    </div>
    <div class="card jh-card m-0">
      <div class="">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
            <strong>Erreur d'authentification!</strong> Veuillez vérifier vos informations de connection.
          </div>
          <div class="">
            <h1 data-cy="loginTitle" class="mb-3">Authentification</h1>
            <form
              class="form d-flex flex-column align-items-center justify-content-center"
              role="form"
              (ngSubmit)="login()"
              [formGroup]="loginForm"
              autocomplete="off"
            >
              <div class="mb-3">
                <label class="username-label" for="username">Nom d'utilisateur</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="Your username"
                  formControlName="username"
                  #username
                  data-cy="username"
                />
              </div>

              <div class="mb-3">
                <label for="password">Mot de passe</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Your password"
                  formControlName="password"
                  data-cy="password"
                />
              </div>

              <button type="submit" class="btn btn--primary" data-cy="submit">S'authentifier</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 right-side"></div>
</div>
