.login-bg {
  margin: 0;
  padding: 10px 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: white;
  //background-color: var(--color-secondary);
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
}

.logo {
  width: 240px;
  margin-bottom: 50px;
}

.logo-text {
  color: white;
  font-weight: bold;
}

.right-side {
  background: transparent url('../../content/images/login-image.png') no-repeat center;
  background-size: cover;
  opacity: 0.6;
}
.left-side {
  position: relative;
  z-index: 10;
  box-shadow: 5px 0 22px -7px #cc0000;
  background: white;
  border: solid 1px #3c3a39;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
