<ngx-loading [show]="isSaving" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <!--    <jhi-alert-error></jhi-alert-error>-->
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div id="page-heading" class="form__section--title mb-2">
        <h2 id="jhi-commissioning-plan-heading" data-cy="CommissioningPlanCreateUpdateHeading">{{ pageTitle }}</h2>
      </div>

      <div class="row mx-0">
        <section class="form__section infos-section" data-cy="infos-section">
          <div class="row mx-0">
            <div class="col-md-6" *ngIf="!isBlockingList">
              <div>
                <label class="form-label" for="field_msisdn">Numéro du partenaire <span class="red">*</span></label>
                <input
                  type="number"
                  name="msisdn"
                  [maxLength]="9"
                  id="field_msisdn"
                  data-cy="msisdn"
                  formControlName="msisdn"
                  class="form-control"
                  (input)="onMsisdnChange($event)"
                />
                <div *ngIf="editForm.get('msisdn')!.invalid && (editForm.get('msisdn')!.dirty || editForm.get('msisdn')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('msisdn')?.errors?.required"> Ce champs est obligatoire. </small>
                </div>
                <div *ngIf="msisdnHasError">
                  <small class="form-text text-danger"> {{ msisdnErrorMessage }} </small>
                </div>
              </div>
              <div class="mt-2" *ngIf="!isUnblocking && showCommPlanList">
                <label class="form-label" for="field_reason">Raison <span class="red">*</span></label>
                <select class="form-control" id="field_reason" data-cy="reason" name="reason" formControlName="reason">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="reasonOption === editForm.get('reason')!.value ? editForm.get('reason')!.value : reasonOption"
                    *ngFor="let reasonOption of reasons"
                  >
                    {{ reasonOption }}
                  </option>
                </select>
                <div *ngIf="editForm.get('reason')!.invalid && (editForm.get('reason')!.dirty || editForm.get('reason')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('reason')?.errors?.required"> Ce champs est obligatoire. </small>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="isBlockingList">
              <label class="form-label" for="field_csv_file">Liste des partenaires <span class="red">*</span></label>
              <input
                type="file"
                name="csv_file"
                id="field_csv_file"
                data-cy="csv_file"
                formControlName="csv_file"
                class="form-control file-input"
                accept="text/csv"
                (change)="onFileSelected($event)"
              />
              <div *ngIf="editForm.get('csv_file')!.invalid && (editForm.get('csv_file')!.dirty || editForm.get('csv_file')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('csv_file')?.errors?.required"> Ce champs est obligatoire. </small>
              </div>
              <div *ngIf="uploadHasError">
                <small class="form-text text-danger"> {{ uploadErrorMessage }} </small>
              </div>
            </div>
            <div class="col-md-6" *ngIf="showCommPlanList">
              <label for="commissioningPlan" class="form-label">Plans de commission <span class="red">*</span></label>
              <div class="check-lists" id="commissioningPlan">
                <div *ngFor="let commissioningPlan of commissioningPlans" class="check-list-item">
                  <label class="chk-container">
                    <input
                      type="checkbox"
                      [checked]="isCommissioningPlanSelected(commissioningPlan)"
                      (change)="addOrRemoveCommissioningPlan(commissioningPlan)"
                    />
                    <span class="checkmark"></span>
                    {{ commissioningPlan.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="my-3 p-0">
          <button
            type="button"
            id="cancel-save"
            data-cy="entityCreateCancelButton"
            class="btn btn--outline--secondary"
            (click)="previousState()"
          >
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving || this.selectedCommissioningPlans.length < 1"
            class="btn btn--primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Valider</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
