<div class="d-flex align-items-center justify-content-center">
  <!--  <div class="col-md-10 mt-5 d-flex justify-content-center flex-column align-items-center">-->
  <!--    <h1 class="display-2">Commissioning Management System</h1>-->
  <!--    <br />-->
  <!--    <h2 class="display-4 middle-text">-->
  <!--      <span class="highlight">Configurer</span>, <span class="highlight">Calculer</span> et <span class="highlight">Payer</span> autrement,-->
  <!--      les <span class="highlight">commissions</span> des partnenaires.-->
  <!--    </h2>-->
  <!--    <br />-->
  <!--    <h5 class="bottom-text">Pour usage interne.</h5>-->
  <!--  </div>-->
  <div class="home-content"></div>
</div>
