/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  //background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    //background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

//.highlight {
//  font-size: 70px;
//  color: #cc0000;
//  font-style: italic;
//  font-family: Roboto;
//  font-weight: 700;
//}
//
//.middle-text {
//  margin: 150px 0;
//  text-align: center;
//}
//
//.bottom-text {
//  font-size: 12px;
//  font-style: italic;
//}

.home-content {
  width: 100vw;
  margin-top: 60px;
  height: calc(100vh - 117px);
  background: url('../../content/images/home-image.png') no-repeat center;
  background-size: contain;
}
