<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-configuration-plan-heading" data-cy="ConfigurationPlanCreateUpdateHeading">Create or edit a Configuration Plan</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_partnerProfile">Partner Profile</label>
          <select
            class="form-control"
            id="field_partnerProfile"
            data-cy="partnerProfile"
            name="partnerProfile"
            formControlName="partnerProfile"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                partnerProfileOption.id === editForm.get('partnerProfile')!.value?.id
                  ? editForm.get('partnerProfile')!.value
                  : partnerProfileOption
              "
              *ngFor="let partnerProfileOption of partnerProfilesSharedCollection; trackBy: trackPartnerProfileById"
            >
              {{ partnerProfileOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commissioningPlan">Commissioning Plan</label>
          <select
            class="form-control"
            id="field_commissioningPlan"
            data-cy="commissioningPlan"
            name="commissioningPlan"
            formControlName="commissioningPlan"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                commissioningPlanOption.id === editForm.get('commissioningPlan')!.value?.id
                  ? editForm.get('commissioningPlan')!.value
                  : commissioningPlanOption
              "
              *ngFor="let commissioningPlanOption of commissioningPlansSharedCollection; trackBy: trackCommissioningPlanById"
            >
              {{ commissioningPlanOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_zones">Zones</label>
          <select class="form-control" id="field_zones" data-cy="zones" multiple name="zones" formControlName="zones">
            <option
              [ngValue]="getSelectedZone(zoneOption, editForm.get('zones')!.value)"
              *ngFor="let zoneOption of zonesSharedCollection; trackBy: trackZoneById"
            >
              {{ zoneOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
