<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="partner">
      <h2 data-cy="partnerDetailsHeading"><span>Partner</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ partner.id }}</span>
        </dd>
        <dt><span>Msisdn</span></dt>
        <dd>
          <span>{{ partner.msisdn }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ partner.name }}</span>
        </dd>
        <dt><span>Surname</span></dt>
        <dd>
          <span>{{ partner.surname }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ partner.state }}</span>
        </dd>
        <dt><span>Partner Profile Id</span></dt>
        <dd>
          <span>{{ partner.partnerProfileId }}</span>
        </dd>
        <dt><span>Parent Id</span></dt>
        <dd>
          <span>{{ partner.parentId }}</span>
        </dd>
        <dt><span>Can Reset Pin</span></dt>
        <dd>
          <span>{{ partner.canResetPin }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ partner.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ partner.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ partner.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ partner.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Transaction Date</span></dt>
        <dd>
          <span>{{ partner.lastTransactionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Zone</span></dt>
        <dd>
          <span *ngFor="let zone of partner.zones; let last = last">
            <a [routerLink]="['/zone', zone?.id, 'view']">{{ zone.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Partner</span></dt>
        <dd>
          <div *ngIf="partner.partner">
            <a [routerLink]="['/partner', partner.partner?.id, 'view']">{{ partner.partner?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/partner', partner.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
