<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="role">
      <h2 data-cy="roleDetailsHeading"><span>Role</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ role.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ role.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ role.description }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ role.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ role.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ role.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ role.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Authorities</span></dt>
        <dd>
          <span *ngFor="let authorities of role.authorities; let last = last">
            <a [routerLink]="['/authority-mirror', authorities?.id, 'view']">{{ authorities.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/role', role.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
