<div>
  <h2 id="page-heading" data-cy="PartnerHeading">
    <span>Partners</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-partner"
        [routerLink]="['/partner/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Partner </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="partners?.length === 0">
    <span>No partners found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="partners && partners.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="surname"><span>Surname</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="state"><span>State</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="partnerProfileId"><span>Partner Profile Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parentId"><span>Parent Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="canResetPin"><span>Can Reset Pin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastTransactionDate"><span>Last Transaction Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="partner.id"><span>Partner</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partners; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/partner', partner.id, 'view']">{{ partner.id }}</a>
          </td>
          <td>{{ partner.msisdn }}</td>
          <td>{{ partner.name }}</td>
          <td>{{ partner.surname }}</td>
          <td>{{ partner.state }}</td>
          <td>{{ partner.partnerProfileId }}</td>
          <td>{{ partner.parentId }}</td>
          <td>{{ partner.canResetPin }}</td>
          <td>{{ partner.createdBy }}</td>
          <td>{{ partner.createdDate | formatMediumDatetime }}</td>
          <td>{{ partner.lastModifiedBy }}</td>
          <td>{{ partner.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ partner.lastTransactionDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="partner.partner">
              <a [routerLink]="['/partner', partner.partner?.id, 'view']">{{ partner.partner?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/partner', partner.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/partner', partner.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(partner)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="partners && partners.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
