<div class="p-4">
  <div class="form__section--title mb-4">
    <h2>
      <span id="metrics-page-heading" data-cy="metricsPageHeading">Application Metrics</span>
    </h2>
    <button class="btn btn-primary float-end" (click)="refresh()"><fa-icon icon="sync"></fa-icon> <span>Refresh</span></button>
  </div>

  <h3>JVM Metrics</h3>

  <div class="row" *ngIf="metrics && !updatingMetrics">
    <jhi-jvm-memory class="col-md-4" [updating]="updatingMetrics" [jvmMemoryMetrics]="metrics.jvm"></jhi-jvm-memory>

    <jhi-jvm-threads class="col-md-4" [threads]="threads"></jhi-jvm-threads>

    <jhi-metrics-system class="col-md-4" [updating]="updatingMetrics" [systemMetrics]="metrics.processMetrics"></jhi-metrics-system>
  </div>

  <jhi-metrics-garbagecollector
    *ngIf="metrics && metricsKeyExists('garbageCollector')"
    [updating]="updatingMetrics"
    [garbageCollectorMetrics]="metrics.garbageCollector"
  ></jhi-metrics-garbagecollector>

  <div class="well well-lg" *ngIf="updatingMetrics">Updating...</div>

  <jhi-metrics-request
    *ngIf="metrics && metricsKeyExists('http.server.requests')"
    [updating]="updatingMetrics"
    [requestMetrics]="metrics['http.server.requests']"
  ></jhi-metrics-request>

  <jhi-metrics-endpoints-requests
    *ngIf="metrics && metricsKeyExists('services')"
    [updating]="updatingMetrics"
    [endpointsRequestsMetrics]="metrics.services"
  ></jhi-metrics-endpoints-requests>

  <jhi-metrics-cache
    *ngIf="metrics && metricsKeyExists('cache')"
    [updating]="updatingMetrics"
    [cacheMetrics]="metrics.cache"
  ></jhi-metrics-cache>

  <jhi-metrics-datasource
    *ngIf="metrics && metricsKeyExistsAndObjectNotEmpty('databases')"
    [updating]="updatingMetrics"
    [datasourceMetrics]="metrics.databases"
  ></jhi-metrics-datasource>
</div>
