<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <jhi-alert-error></jhi-alert-error>
    <div *ngIf="commissioningPlan">
      <!--  (ngSubmit)="save()" [formGroup]="editForm"    -->

      <div class="container">
        <div class="mt-3 offset-md-3 col-md-6 offset-lg-3 col-lg-6">
          <div class="card">
            <div class="card-header">
              Nom plan de commissionnement: <span class="fw-bold"> {{ commissioningPlan.name }} </span>
            </div>
            <div class="card-body">
              <form [formGroup]="stopForm" (ngSubmit)="handleStopCommissioningPlan(commissioningPlan)">
                <div class="mb-3" [hidden]="stopForm.get('id')!.value == null">
                  <label class="form-label" for="field_id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>

                <div class="mb-3">
                  <label class="form-label">Date</label>
                  <input type="date" name="endDate" formControlName="endDate" class="form-control" />
                  <small id="dateStopped" class="form-text text-muted">Renseignez la date de stop du plan du commissionnement.</small>
                </div>

                <div class="my-3 p-0">
                  <button
                    type="button"
                    id="cancel-save"
                    data-cy="entityCreateCancelButton"
                    class="btn btn--outline--secondary"
                    (click)="previousState()"
                  >
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                  </button>

                  <button
                    type="submit"
                    id="save-entity"
                    data-cy="entityCreateSaveButton"
                    class="btn btn--primary"
                    [disabled]="stopForm.invalid"
                  >
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Arreter</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
