<section
  *ngIf="period != null && period.periodType !== 'INSTANTLY' && period.periodType !== 'RECCURRENT'"
  class="form__section infos-section"
  data-cy="infos-section"
>
  <div class="form__section--title mb-2">
    <h4>Période de {{ period.operationType === 'CALCULUS' ? 'calcul' : 'paiement' }}</h4>
  </div>
  <div *ngIf="period.periodType === 'DAILY'">
    <div class="d-flex ps-0" *ngIf="period.isCompleteDay">
      <dd>
        <span>Journée entière</span>
      </dd>
    </div>
    <div class="row mx-0 mb-1" *ngIf="!period.isCompleteDay!">
      <div class="col-md-6 ps-0">
        <dt><span>Heure de début</span></dt>
        <dd>
          <span>{{ period.dayHourFrom }}h</span>
          <span *ngIf="period.isPreviousDayHourFrom">&nbsp;la veille</span>
        </dd>
      </div>
      <div class="col-md-6 ps-0">
        <dt><span>Heure de fin</span></dt>
        <dd>
          <span>{{ period.dayHourTo }}h</span>
          <span *ngIf="period.isPreviousDayHourTo">&nbsp;la veille</span>
        </dd>
      </div>
    </div>
  </div>
  <div *ngIf="period.periodType === 'WEEKLY'">
    <div class="row mx-0 mb-1">
      <div class="col-md-6 ps-0">
        <dt><span>Jour de début</span></dt>
        <dd>
          <span>{{ getExecutionWeekDayLabel(period.weekDayFrom) }}</span>
        </dd>
      </div>
      <div class="col-md-6 ps-0">
        <dt><span>Jour de fin</span></dt>
        <dd>
          <span>{{ getExecutionWeekDayLabel(period.weekDayTo) }}</span>
        </dd>
      </div>
    </div>
  </div>
  <div *ngIf="period.periodType === 'MONTHLY'">
    <div class="d-flex ps-0" *ngIf="period.isCompleteMonth">
      <dd>
        <span>Mois entier</span>
      </dd>
    </div>
    <div class="row mx-0 mb-1" *ngIf="!period.isCompleteMonth!">
      <div class="col-md-6 ps-0">
        <dt><span>Jour de début</span></dt>
        <dd>
          <span>le {{ period.monthDayFrom }}</span>
          <span *ngIf="period.isPreviousMonthDayFrom">du mois précédent (m - 2)</span>
        </dd>
      </div>
      <div class="col-md-6 ps-0">
        <dt><span>Jour de fin</span></dt>
        <dd>
          <span>le {{ period.monthDayTo }}</span>
          <span *ngIf="period.isPreviousDayHourTo">du mois précédent</span>
        </dd>
      </div>
    </div>
  </div>
</section>
