<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-commission-account-heading" data-cy="CommissionAccountCreateUpdateHeading">Create or edit a Commission Account</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_calculatedBalance">Calculated Balance</label>
          <input
            type="number"
            class="form-control"
            name="calculatedBalance"
            id="field_calculatedBalance"
            data-cy="calculatedBalance"
            formControlName="calculatedBalance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_paidBalance">Paid Balance</label>
          <input
            type="number"
            class="form-control"
            name="paidBalance"
            id="field_paidBalance"
            data-cy="paidBalance"
            formControlName="paidBalance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare1">Spare 1</label>
          <input type="text" class="form-control" name="spare1" id="field_spare1" data-cy="spare1" formControlName="spare1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare2">Spare 2</label>
          <input type="text" class="form-control" name="spare2" id="field_spare2" data-cy="spare2" formControlName="spare2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare3">Spare 3</label>
          <input type="text" class="form-control" name="spare3" id="field_spare3" data-cy="spare3" formControlName="spare3" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_partner">Partner</label>
          <select class="form-control" id="field_partner" data-cy="partner" name="partner" formControlName="partner">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="partnerOption.id === editForm.get('partner')!.value?.id ? editForm.get('partner')!.value : partnerOption"
              *ngFor="let partnerOption of partnersCollection; trackBy: trackPartnerById"
            >
              {{ partnerOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
