<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commissionType">
      <h2 data-cy="commissionTypeDetailsHeading"><span>Commission Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ commissionType.id }}</span>
        </dd>
        <dt><span>Taux Value</span></dt>
        <dd>
          <span>{{ commissionType.tauxValue }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/commission-type', commissionType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
