<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmOperation(user.login!)">
  <div class="modal-header">
    <h4 class="modal-title">Confirmer la {{ isDeletion ? 'suppression' : 'désactivation' }}</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p>Êtes vous sûre de vouloir {{ isDeletion ? 'supprimer' : 'désactiver' }}</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
    </button>

    <button type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>{{ isDeletion ? 'Supprimer' : 'Désactiver' }}</span>
    </button>
  </div>
</form>
