<ngx-loading [show]="isSaving" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="d-flex justify-content-center pb-5">
  <div class="col-10 pt-4">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div id="page-heading" class="form__section--title mb-2">
        <h2 id="jhi-commissioning-plan-heading" data-cy="CommissioningPlanCreateUpdateHeading">Nouvelle fréquence</h2>
      </div>

      <div class="row mx-0">
        <section class="form__section infos-section" data-cy="infos-section">
          <div class="row mx-0">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label" for="field_operationType">Type d'opération</label>
                <select
                  class="form-control"
                  name="operationType"
                  formControlName="operationType"
                  id="field_operationType"
                  data-cy="operationType"
                >
                  <option [ngValue]="null"></option>
                  <option *ngFor="let frequencyType of frequencyOperationTypeValues" [value]="frequencyType">
                    {{ getLabelFromCode(frequencyType) }}
                  </option>
                </select>
                <div
                  *ngIf="
                    editForm.get('operationType')!.invalid &&
                    (editForm.get('operationType')!.dirty || editForm.get('operationType')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="editForm.get('operationType')?.errors?.required">
                    This field is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label" for="field_type">Type</label>
                <select
                  class="form-control"
                  name="type"
                  formControlName="type"
                  id="field_type"
                  data-cy="type"
                  (change)="updateValidators()"
                >
                  <option [ngValue]="null"></option>
                  <option *ngFor="let frequencyType of frequencyTypeValues" [value]="frequencyType">
                    {{ getFrequencyTypeFromCode(frequencyType) }}
                  </option>
                </select>
                <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required"> This field is required. </small>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'QUARTERLY' || editForm.get('type')!.value === 'SEMI_ANNUALLY'">
              <div class="mb-3">
                <label class="form-label" for="field_daysAfter">Nombre de jour après</label>
                <input
                  type="number"
                  class="form-control"
                  name="daysAfter"
                  id="field_daysAfter"
                  data-cy="daysAfter"
                  formControlName="daysAfter"
                />
                <div *ngIf="editForm.get('daysAfter')!.invalid && (editForm.get('daysAfter')!.dirty || editForm.get('daysAfter')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('daysAfter')?.errors?.min">
                    This field should be at least 0.
                  </small>
                  <small class="form-text text-danger" *ngIf="editForm.get('daysAfter')?.errors?.max">
                    This field cannot be more than 31.
                  </small>
                  <small class="form-text text-danger" [hidden]="!editForm.get('daysAfter')?.errors?.number">
                    This field should be a number.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'DAILY'">
              <div class="mb-3">
                <label class="form-label" for="field_executionTime">Heure d'exécution (0-23)</label>
                <input
                  type="number"
                  class="form-control"
                  name="executionTime"
                  id="field_executionTime"
                  data-cy="executionTime"
                  formControlName="executionTime"
                  min="0"
                  max="23"
                />
                <div
                  *ngIf="
                    editForm.get('executionTime')!.invalid &&
                    (editForm.get('executionTime')!.dirty || editForm.get('executionTime')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="editForm.get('executionTime')?.errors?.required">
                    This field is required.
                  </small>
                  <small class="form-text text-danger" [hidden]="!editForm.get('executionTime')?.errors?.number">
                    This field should be a number.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'WEEKLY'">
              <div class="mb-3">
                <label class="form-label" for="field_executionWeekDay">Jour de la semaine</label>
                <select
                  class="form-control"
                  name="executionWeekDay"
                  id="field_executionWeekDay"
                  data-cy="executionWeekDay"
                  formControlName="executionWeekDay"
                >
                  <option [ngValue]="null"></option>
                  <option *ngFor="let weekDay of weekDays" [value]="weekDay.label">
                    {{ weekDay.label }}
                  </option>
                </select>
                <div
                  *ngIf="
                    editForm.get('executionWeekDay')!.invalid &&
                    (editForm.get('executionWeekDay')!.dirty || editForm.get('executionWeekDay')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="editForm.get('executionWeekDay')?.errors?.min">
                    This field should be at least 0.
                  </small>
                  <small class="form-text text-danger" *ngIf="editForm.get('executionWeekDay')?.errors?.max">
                    This field cannot be more than 6.
                  </small>
                  <small class="form-text text-danger" [hidden]="!editForm.get('executionWeekDay')?.errors?.number">
                    This field should be a number.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'MONTHLY'">
              <div class="mb-3">
                <label class="form-label" for="field_executionMonthDay">Jour du mois</label>
                <input
                  type="number"
                  class="form-control"
                  name="executionMonthDay"
                  id="field_executionMonthDay"
                  data-cy="executionMonthDay"
                  formControlName="executionMonthDay"
                />
                <div
                  *ngIf="
                    editForm.get('executionMonthDay')!.invalid &&
                    (editForm.get('executionMonthDay')!.dirty || editForm.get('executionMonthDay')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="editForm.get('executionMonthDay')?.errors?.min">
                    This field should be at least 1.
                  </small>
                  <small class="form-text text-danger" *ngIf="editForm.get('executionMonthDay')?.errors?.max">
                    This field cannot be more than 31.
                  </small>
                  <small class="form-text text-danger" [hidden]="!editForm.get('executionMonthDay')?.errors?.number">
                    This field should be a number.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'CYCLIC'">
              <div class="mb-3">
                <label class="form-label" for="field_cycle">Cycle</label>
                <select class="form-control" name="cycle" formControlName="cycle" id="field_cycle" data-cy="cycle">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let cycle of cycleValues" [value]="cycle">{{ getLabelFromCode(cycle) }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'CYCLIC'">
              <div class="mb-3">
                <label class="form-label" for="field_numberOfCycle">Nombre de cycle</label>
                <input
                  type="number"
                  class="form-control"
                  name="numberOfCycle"
                  id="field_numberOfCycle"
                  min="2"
                  max="5"
                  data-cy="numberOfCycle"
                  formControlName="numberOfCycle"
                />
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'RECCURRENT'">
              <div class="mb-3">
                <label class="form-label" for="field_periodOfOccurrence">Période d'occurrence</label>
                <select
                  class="form-control"
                  name="periodOfOccurrence"
                  formControlName="periodOfOccurrence"
                  id="field_periodOfOccurrence"
                  data-cy="periodOfOccurrence"
                >
                  <option [ngValue]="null"></option>
                  <option *ngFor="let periodOfOccurrence of periodOfOccurrenceValues" [value]="periodOfOccurrence">
                    {{ getLabelFromCode(periodOfOccurrence) }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6" *ngIf="editForm.get('type')!.value === 'RECCURRENT'">
              <div class="mb-3">
                <label class="form-label" for="field_occurrenceByPeriod">Occurrence par période</label>
                <input
                  type="number"
                  class="form-control"
                  name="occurrenceByPeriod"
                  id="field_occurrenceByPeriod"
                  min="2"
                  max="5"
                  data-cy="occurrenceByPeriod"
                  formControlName="occurrenceByPeriod"
                  (change)="cancelOccurrenceDatesValidators(); updateOccurrenceDatesValidators()"
                />
              </div>
            </div>
            <!--            <div *ngIf="editForm.get('type')!.value === 'RECCURRENT' && numberOfoccurrence">-->
            <div class="col-md-6" *ngFor="let item of counter(numberOfoccurrence); let index = index; let last = last">
              <div class="mb-3">
                <label class="form-label" for="field_occurrence">Date occurrence {{ index + 1 }}</label>
                <input
                  min="0"
                  max="28"
                  type="number"
                  class="form-control"
                  [name]="'occurrenceDate' + (index + 1)"
                  [id]="'field_occurrenceDate' + (index + 1)"
                  data-cy="occurrenceDate"
                  [formControlName]="'occurrenceDate' + (index + 1)"
                />
              </div>
              <!--              </div>-->
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label" for="field_name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="field_name"
                  data-cy="name"
                  formControlName="name"
                  [value]="generateFrequencyName()"
                />
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="my-3 p-0">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn--outline--secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn--primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Valider</span>
        </button>
      </div>
    </form>
  </div>
</div>
