// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
/*a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}*/

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border: 1px solid green;
}

.ng-invalid:not(form) {
  border: 1px solid darkorange;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: darkorange;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
  border-radius: var(--border-radius);
}

.form-control:focus {
  border-color: #9fc5e6;
  outline: 0;
  box-shadow: none;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  height: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  color: #3c3a39;
  font-weight: 400;
  border: solid 0.5px #cc0000;
  //box-shadow: 5px 0 15px 0 #cc0000;
  background: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.red {
  color: #cc0000;
}

.close-btn {
  cursor: pointer;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */

// Mixins
@import 'mixins/media';

// Configuration
@import 'config/variables';
@import 'config/reset';

// Components
@import 'components/btn';
@import 'components/error';
@import 'components/form';
@import 'components/visually_hidden';
@import 'components/turbo_progress_bar';
@import 'components/sidebar.scss';
@import 'components/scrollbar';
@import 'components/switch';
// @import "components/";

// Layouts
@import 'layouts/base';
@import 'layouts/container';
@import 'layouts/header';
@import 'layouts/admin';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: white;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.main-body {
  position: fixed;
  z-index: 0;
  top: 25px;
  height: calc(100vh - 56px);
  min-height: calc(100vh - 56px);
  width: 100vw;
  overflow-y: scroll;
}
#page-heading {
  margin-top: 60px;
}
.list-box {
  padding: 15px 8px 0;
  border-radius: 10px;
  border: solid 1px #b6b8ba;
}
.check-lists {
  height: fit-content;
  max-height: 26vh;
  overflow: scroll;
  background: white;
  padding-left: 5px;
}
.sub-list {
  margin-left: 12px;
  padding-left: 25px;
  border-left: solid black 1px;
}

.section__mt {
  margin-top: 25px;
}

// custom-marquee
.custom-marquee {
  height: 25px;
  width: 100vw;
  background: #cc0000;
  color: white;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.custom-marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 25s linear infinite;
}

.custom-marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.table-responsive {
  margin: 12px 0;
  padding: 5px 0;
  border: solid 0.5px #b6b8ba;
  border-radius: 10px;
}
.page-item {
  margin: 0 5px;
}

.page-item .page-link {
  border-radius: 5px;
  color: var(--color-text-body);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #cc0000;
  border-color: #cc0000;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #cc0000;
}

.dropdown-item.active:hover {
  background-color: #cc0029;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  border-radius: 10px;
  width: fit-content;
  min-width: 14rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #cc0000;
}

section.form__section,
.config-line,
.palier_form {
  border-radius: 10px;
  border: solid 1px #b6b8ba;
}

.mat-form-field-infix {
  width: 100% !important;
}

.successfulPayment,
.failedPayment {
  padding: 0 10px;
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
}

.successfulPayment {
  color: darkgreen;
  background: lightgreen;
}

.successfulPayment:after {
  content: 'Succès';
}

.failedPayment {
  color: orangered;
  background: orange;
}

.failedPayment:after {
  content: 'Échec';
}

.balance-subText {
  font-style: italic;
}

.balance-subText {
  font-size: 10px;
}

.balance-text,
.balance-amount {
  font-weight: bold;
}

.balance-amount {
  display: block;
  padding: 8px 10px;
  border-radius: 20px;
}

.balance-amount.total {
  color: #cc0000;
}

.balance-amount.nok {
  color: orangered;
  background: orange;
}

.balance-amount.ok {
  color: darkgreen;
  background: lightgreen;
}
.inline-checkbox .chk-container {
  gap: 5px;
  margin-bottom: 0;
}
.chk-container .checkmark {
  border-radius: 5px;
}
tr.unselected-row {
  background-color: rgba(0, 0, 0, 0.05);
}
tr.unselected-row td {
  color: rgba(0, 0, 0, 0.25);
  text-decoration: line-through;
}
