<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commission">
      <h2 data-cy="commissionDetailsHeading"><span>Commission</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ commission.id }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ commission.amount }}</span>
        </dd>
        <dt><span>Calculated At</span></dt>
        <dd>
          <span>{{ commission.calculatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Calculation Date</span></dt>
        <dd>
          <span>{{ commission.calculationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Calculation Short Date</span></dt>
        <dd>
          <span>{{ commission.calculationShortDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Sender Msisdn</span></dt>
        <dd>
          <span>{{ commission.senderMsisdn }}</span>
        </dd>
        <dt><span>Sender Profile</span></dt>
        <dd>
          <span>{{ commission.senderProfile }}</span>
        </dd>
        <dt><span>Service Type</span></dt>
        <dd>
          <span>{{ commission.serviceType }}</span>
        </dd>
        <dt><span>Commission Payment Status</span></dt>
        <dd>
          <span>{{ commission.commissionPaymentStatus }}</span>
        </dd>
        <dt><span>Commissioning Plan Type</span></dt>
        <dd>
          <span>{{ commission.commissioningPlanType }}</span>
        </dd>
        <dt><span>Global Network Commission Amount</span></dt>
        <dd>
          <span>{{ commission.globalNetworkCommissionAmount }}</span>
        </dd>
        <dt><span>Transactions Amount</span></dt>
        <dd>
          <span>{{ commission.transactionsAmount }}</span>
        </dd>
        <dt><span>Fraud Amount</span></dt>
        <dd>
          <span>{{ commission.fraudAmount }}</span>
        </dd>
        <dt><span>Spare 1</span></dt>
        <dd>
          <span>{{ commission.spare1 }}</span>
        </dd>
        <dt><span>Spare 2</span></dt>
        <dd>
          <span>{{ commission.spare2 }}</span>
        </dd>
        <dt><span>Spare 3</span></dt>
        <dd>
          <span>{{ commission.spare3 }}</span>
        </dd>
        <dt><span>Commission Account</span></dt>
        <dd>
          <div *ngIf="commission.commissionAccount">
            <a [routerLink]="['/commission-account', commission.commissionAccount?.id, 'view']">{{ commission.commissionAccount?.id }}</a>
          </div>
        </dd>
        <dt><span>Transaction Operation</span></dt>
        <dd>
          <span *ngFor="let transactionOperation of commission.transactionOperations; let last = last">
            <a [routerLink]="['/transaction-operation', transactionOperation?.id, 'view']">{{ transactionOperation.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Configuration Plan</span></dt>
        <dd>
          <div *ngIf="commission.configurationPlan">
            <a [routerLink]="['/configuration-plan', commission.configurationPlan?.id, 'view']">{{ commission.configurationPlan?.id }}</a>
          </div>
        </dd>
        <dt><span>Payment</span></dt>
        <dd>
          <div *ngIf="commission.payment">
            <a [routerLink]="['/payment', commission.payment?.id, 'view']">{{ commission.payment?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/commission', commission.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
