<ngx-loading [show]="isSaving" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-commission-heading" data-cy="CommissionCreateUpdateHeading">Create or edit a Commission</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('amount')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('amount')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_calculatedAt">Calculated At</label>
          <div class="d-flex">
            <input
              id="field_calculatedAt"
              data-cy="calculatedAt"
              type="datetime-local"
              class="form-control"
              name="calculatedAt"
              formControlName="calculatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_calculationDate">Calculation Date</label>
          <div class="d-flex">
            <input
              id="field_calculationDate"
              data-cy="calculationDate"
              type="datetime-local"
              class="form-control"
              name="calculationDate"
              formControlName="calculationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_calculationShortDate">Calculation Short Date</label>
          <div class="input-group">
            <input
              id="field_calculationShortDate"
              data-cy="calculationShortDate"
              type="text"
              class="form-control"
              name="calculationShortDate"
              ngbDatepicker
              #calculationShortDateDp="ngbDatepicker"
              formControlName="calculationShortDate"
            />
            <button type="button" class="btn btn-secondary" (click)="calculationShortDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_senderMsisdn">Sender Msisdn</label>
          <input
            type="text"
            class="form-control"
            name="senderMsisdn"
            id="field_senderMsisdn"
            data-cy="senderMsisdn"
            formControlName="senderMsisdn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_senderProfile">Sender Profile</label>
          <input
            type="text"
            class="form-control"
            name="senderProfile"
            id="field_senderProfile"
            data-cy="senderProfile"
            formControlName="senderProfile"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_serviceType">Service Type</label>
          <input
            type="text"
            class="form-control"
            name="serviceType"
            id="field_serviceType"
            data-cy="serviceType"
            formControlName="serviceType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commissionPaymentStatus">Commission Payment Status</label>
          <select
            class="form-control"
            name="commissionPaymentStatus"
            formControlName="commissionPaymentStatus"
            id="field_commissionPaymentStatus"
            data-cy="commissionPaymentStatus"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let commissionPaymentStatus of commissionPaymentStatusValues" [value]="commissionPaymentStatus">
              commissionPaymentStatus
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commissioningPlanType">Commissioning Plan Type</label>
          <select
            class="form-control"
            name="commissioningPlanType"
            formControlName="commissioningPlanType"
            id="field_commissioningPlanType"
            data-cy="commissioningPlanType"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let commissioningPlanType of commissioningPlanTypeValues" [value]="commissioningPlanType">
              commissioningPlanType
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_globalNetworkCommissionAmount">Global Network Commission Amount</label>
          <input
            type="number"
            class="form-control"
            name="globalNetworkCommissionAmount"
            id="field_globalNetworkCommissionAmount"
            data-cy="globalNetworkCommissionAmount"
            formControlName="globalNetworkCommissionAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionsAmount">Transactions Amount</label>
          <input
            type="number"
            class="form-control"
            name="transactionsAmount"
            id="field_transactionsAmount"
            data-cy="transactionsAmount"
            formControlName="transactionsAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare1">Spare 1</label>
          <input type="text" class="form-control" name="spare1" id="field_spare1" data-cy="spare1" formControlName="spare1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare2">Spare 2</label>
          <input type="text" class="form-control" name="spare2" id="field_spare2" data-cy="spare2" formControlName="spare2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spare3">Spare 3</label>
          <input type="text" class="form-control" name="spare3" id="field_spare3" data-cy="spare3" formControlName="spare3" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commissionAccount">Commission Account</label>
          <select
            class="form-control"
            id="field_commissionAccount"
            data-cy="commissionAccount"
            name="commissionAccount"
            formControlName="commissionAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                commissionAccountOption.id === editForm.get('commissionAccount')!.value?.id
                  ? editForm.get('commissionAccount')!.value
                  : commissionAccountOption
              "
              *ngFor="let commissionAccountOption of commissionAccountsSharedCollection; trackBy: trackCommissionAccountById"
            >
              {{ commissionAccountOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_transactionOperations">Transaction Operation</label>
          <select
            class="form-control"
            id="field_transactionOperations"
            data-cy="transactionOperation"
            multiple
            name="transactionOperations"
            formControlName="transactionOperations"
          >
            <option
              [ngValue]="getSelectedTransactionOperation(transactionOperationOption, editForm.get('transactionOperations')!.value)"
              *ngFor="let transactionOperationOption of transactionOperationsSharedCollection; trackBy: trackTransactionOperationById"
            >
              {{ transactionOperationOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_configurationPlan">Configuration Plan</label>
          <select
            class="form-control"
            id="field_configurationPlan"
            data-cy="configurationPlan"
            name="configurationPlan"
            formControlName="configurationPlan"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                configurationPlanOption.id === editForm.get('configurationPlan')!.value?.id
                  ? editForm.get('configurationPlan')!.value
                  : configurationPlanOption
              "
              *ngFor="let configurationPlanOption of configurationPlansSharedCollection; trackBy: trackConfigurationPlanById"
            >
              {{ configurationPlanOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_payment">Payment</label>
          <select class="form-control" id="field_payment" data-cy="payment" name="payment" formControlName="payment">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="paymentOption.id === editForm.get('payment')!.value?.id ? editForm.get('payment')!.value : paymentOption"
              *ngFor="let paymentOption of paymentsSharedCollection; trackBy: trackPaymentById"
            >
              {{ paymentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
